// 색상 변수
$primary-color: #009178;
$primary-color-filter: brightness(0) saturate(100%) invert(35%) sepia(97%) saturate(510%) hue-rotate(124deg) brightness(99%) contrast(104%); // 메인 색상 필터 정보
$secondary-color : #a7d8b7;
$tertiary-color: #d7ede6;

$btn-default-color: #009178;
$btn-hover-color: #00a277;
$btn-select-color: #007f69;
$btn-line-color: #a7d8b7;
$btn-disable-color: #bdc1c6;

$table-hover-color: #eef0f2;
$table-select-color: #d7ede6cc;
$table-title-color: #ebf3ee;
$table-input-disable-color: #f7f7f7;

$gray-80-color: #161616;
$gray-70-color: #525252;
$gray-60-color: #6f6f6f;
$gray-50-color: #8d8d8d;
$gray-40-color: #a8a8a8;
$gray-30-color: #c6c6c6;
$gray-20-color: #ddd;
$gray-10-color: #f0f0f0;
$white-color: #fff;

$error-color: #dc2527;

$global-border-radius: 8px;