<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		메인 | 하나캐피탈 자산관리시스템
	</title>
	<link rel="stylesheet" href="/static/css/ui.css">
	<script src="/static/js/libs/jquery-3.7.1.js"></script>
	<script src="/static/js/libs/jquery-ui.js"></script>
	<script src="/static/js/ui.js" type="module"></script>
</head>

<body>
	<div class="wrap">
		<header>
			<div class="header_wrap">
				<h1>
					<a href="#">
						<img src="/static/img/image/image_main_logo.png" alt="하나캐피탈 자산관리시스템">
					</a>
				</h1>
				<ul class="gnb">
					<li>
						<span class="tit">구매관리</span>
						<ul class="sub">
							<li><a href="#" data-code="00">차량발주관리</a></li>
							<li><a href="#" data-code="01">선구매차량관리</a></li>
							<li><a href="#" data-code="02">선구매소진현황</a></li>
						</ul>
					</li>
					<li>
						<span class="tit">등록관리</span>
						<ul class="sub">
							<li><a href="#" data-code="03">차량등록현황</a></li>
							<li><a href="#" data-code="04">계약내역관리</a></li>
							<li><a href="#" data-code="05">차고지계약관리</a></li>
							<li><a href="#" data-code="06">차고지사용현황</a></li>
						</ul>
					</li>
					<li>
						<span class="tit">보험관리</span>
						<ul class="sub">
							<li><a href="#" data-code="07">보험신규가입현황</a></li>
							<li><a href="#" data-code="08">보험신규가입삭제현황</a></li>
							<li><a href="#" data-code="09">보험갱신대상관리</a></li>
							<li><a href="#" data-code="10">보험갱신요청현황</a></li>
							<li><a href="#" data-code="11">보험배서요청현황</a></li>
							<li><a href="#" data-code="12">보험해지대상관리</a></li>
							<li><a href="#" data-code="13">보험해지환급신청현황</a></li>
							<li><a href="#" data-code="14">보험변경이력관리</a></li>
							<li><a href="#" data-code="15">보험원장관리</a></li>
							<li><a href="#" data-code="16">보험료정산</a></li>
						</ul>
					</li>
					<li>
						<span class="tit">탁송관리</span>
						<ul class="sub">
							<li><a href="#" data-code="17">차량입고현황</a></li>
							<li><a href="#" data-code="18">차량탁송현황</a></li>
							<li><a href="#" data-code="19">번호판배송현황</a></li>
						</ul>
					</li>
					<li>
						<span class="tit">정비관리</span>
						<ul class="sub">
							<li><a href="#" data-code="20">CRM처리현황</a></li>
							<li><a href="#" data-code="21">차량사고접수현황</a></li>
							<li><a href="#" data-code="22">차량사고수리현황</a></li>
							<li><a href="#" data-code="23">대차지급현황</a></li>
							<li><a href="#" data-code="24">차량사고수리비정산</a></li>
							<li><a href="#" data-code="25">순회정비일정관리</a></li>
							<li><a href="#" data-code="26">일반,순회정비현황</a></li>
							<li><a href="#" data-code="27">법정검사현황</a></li>
							<li><a href="#" data-code="28">정비부가세현황</a></li>
						</ul>
					</li>
					<li>
						<span class="tit">매각관리</span>
						<ul class="sub">
							<li><a href="#" data-code="29">반납차량탁송현황</a></li>
							<li><a href="#" data-code="30">반납차량처리현황</a></li>
							<li><a href="#" data-code="31">매각손익관리</a></li>
							<li><a href="#" data-code="32">리스책임보험관리</a></li>
							<li><a href="#" data-code="33">명의이전서류발송현황</a></li>
						</ul>
					</li>
					<li>
						<span class="tit">통계관리</span>
						<ul class="sub">
							<li><a href="#" data-code="34">채권별손익현황</a></li>
							<li><a href="#" data-code="35">차량사고현황</a></li>
							<li><a href="#" data-code="36">차량정비현황</a></li>
							<li><a href="#" data-code="37">순회정비현황</a></li>
						</ul>
					</li>
					<li>
						<span class="tit">원가관리</span>
						<ul class="sub">
							<li><a href="#" data-code="38">등록비용관리</a></li>
							<li><a href="#" data-code="39">보험료관리</a></li>
							<li><a href="#" data-code="40">탁송료관리</a></li>
							<li><a href="#" data-code="41">정비원가관리</a></li>
							<li><a href="#" data-code="42">기타원가관리</a></li>
							<li><a href="#" data-code="43">사고정비요율관리</a></li>
						</ul>
					</li>
					<li>
						<span class="tit">시스템관리</span>
						<ul class="sub">
							<li><a href="#" data-code="44">공지사항</a></li>
							<li><a href="#" data-code="45">사용자권한관리</a></li>
							<li><a href="#" data-code="46">직원관리</a></li>
							<li><a href="#" data-code="47">거래처정보관리</a></li>
							<li><a href="#" data-code="48">탁송기사관리</a></li>
							<li><a href="#" data-code="49">순회기사관리</a></li>
							<li><a href="#" data-code="50">거래처접속현황</a></li>
							<li><a href="#" data-code="51">LMS발송현황</a></li>
							<li><a href="#" data-code="52">공통코드관리</a></li>
						</ul>
					</li>
				</ul>
				<div class="user">
					<div class="name">홍길동</div>
					<button class="logout" type="button">로그아웃</button>
				</div>
			</div>
			<div class="tab">
				<div class="tab_wrap">
					<ul>

					</ul>
				</div>
				<div class="ctr">
					<button type="button" class="move prev">이전</button>
					<button type="button" class="move next">다음</button>
					<button type="button" class="close">모두 닫기</button>
				</div>
			</div>
			<div class="snb">
				<div class="snb_wrap">
					<ul>
						<li>
							<button type="button" class="tit">구매관리</button>
							<ul class="sub">
								<li><a href="#" data-code="00">차량발주관리</a></li>
								<li><a href="#" data-code="01">선구매차량관리</a></li>
								<li><a href="#" data-code="02">선구매소진현황</a></li>
							</ul>
						</li>
						<li>
							<button type="button" class="tit">등록관리</button>
							<ul class="sub">
								<li><a href="#" data-code="03">차량등록현황</a></li>
								<li><a href="#" data-code="04">계약내역관리</a></li>
								<li><a href="#" data-code="05">차고지계약관리</a></li>
								<li><a href="#" data-code="06">차고지사용현황</a></li>
							</ul>
						</li>
						<li>
							<button type="button" class="tit">보험관리</button>
							<ul class="sub">
								<li><a href="#" data-code="07">보험신규가입현황</a></li>
								<li><a href="#" data-code="08">보험신규가입삭제현황</a></li>
								<li><a href="#" data-code="09">보험갱신대상관리</a></li>
								<li><a href="#" data-code="10">보험갱신요청현황</a></li>
								<li><a href="#" data-code="11">보험배서요청현황</a></li>
								<li><a href="#" data-code="12">보험해지대상관리</a></li>
								<li><a href="#" data-code="13">보험해지환급신청현황</a></li>
								<li><a href="#" data-code="14">보험변경이력관리</a></li>
								<li><a href="#" data-code="15">보험원장관리</a></li>
								<li><a href="#" data-code="16">보험료정산</a></li>
							</ul>
						</li>
						<li>
							<button type="button" class="tit">탁송관리</button>
							<ul class="sub">
								<li><a href="#" data-code="17">차량입고현황</a></li>
								<li><a href="#" data-code="18">차량탁송현황</a></li>
								<li><a href="#" data-code="19">번호판배송현황</a></li>
							</ul>
						</li>
						<li>
							<button type="button" class="tit">정비관리</button>
							<ul class="sub">
								<li><a href="#" data-code="20">CRM처리현황</a></li>
								<li><a href="#" data-code="21">차량사고접수현황</a></li>
								<li><a href="#" data-code="22">차량사고수리현황</a></li>
								<li><a href="#" data-code="23">대차지급현황</a></li>
								<li><a href="#" data-code="24">차량사고수리비정산</a></li>
								<li><a href="#" data-code="25">순회정비일정관리</a></li>
								<li><a href="#" data-code="26">일반,순회정비현황</a></li>
								<li><a href="#" data-code="27">법정검사현황</a></li>
								<li><a href="#" data-code="28">정비부가세현황</a></li>
							</ul>
						</li>
						<li>
							<button type="button" class="tit">매각관리</button>
							<ul class="sub">
								<li><a href="#" data-code="29">반납차량탁송현황</a></li>
								<li><a href="#" data-code="30">반납차량처리현황</a></li>
								<li><a href="#" data-code="31">매각손익관리</a></li>
								<li><a href="#" data-code="32">리스책임보험관리</a></li>
								<li><a href="#" data-code="33">명의이전서류발송현황</a></li>
							</ul>
						</li>
						<li>
							<button type="button" class="tit">통계관리</button>
							<ul class="sub">
								<li><a href="#" data-code="34">채권별손익현황</a></li>
								<li><a href="#" data-code="35">차량사고현황</a></li>
								<li><a href="#" data-code="36">차량정비현황</a></li>
								<li><a href="#" data-code="37">순회정비현황</a></li>
							</ul>
						</li>
						<li>
							<button type="button" class="tit">원가관리</button>
							<ul class="sub">
								<li><a href="#" data-code="38">등록비용관리</a></li>
								<li><a href="#" data-code="39">보험료관리</a></li>
								<li><a href="#" data-code="40">탁송료관리</a></li>
								<li><a href="#" data-code="41">정비원가관리</a></li>
								<li><a href="#" data-code="42">기타원가관리</a></li>
								<li><a href="#" data-code="43">사고정비요율관리</a></li>
							</ul>
						</li>
						<li>
							<button type="button" class="tit">시스템관리</button>
							<ul class="sub">
								<li><a href="#" data-code="44">공지사항</a></li>
								<li><a href="#" data-code="45">사용자권한관리</a></li>
								<li><a href="#" data-code="46">직원관리</a></li>
								<li><a href="#" data-code="47">거래처정보관리</a></li>
								<li><a href="#" data-code="48">탁송기사관리</a></li>
								<li><a href="#" data-code="49">순회기사관리</a></li>
								<li><a href="#" data-code="50">거래처접속현황</a></li>
								<li><a href="#" data-code="51">LMS발송현황</a></li>
								<li><a href="#" data-code="52">공통코드관리</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<button type="button" class="show">
					<span>사이드 메뉴 토글</button>
				</button>
			</div>
		</header>
		<div class="content">

			<div data-page-title>
				<div class="title">
					<h2 class="tit">
						제목
					</h2>
					<ol class="breadcrumb">

						<li>
							1뎁스
						</li>


						<li>
							2뎁스
						</li>

					</ol>
				</div>

				<button type="reset">검색 초기화</button>

			</div>
		</div>
	</div>
</body>

</html>