@charset "UTF-8";
/**
 * @mixin font-face
 * 
 * @param {string} 선언명 - 폰트의 이름
 * @param {string} 경로 - 폰트 파일의 경로 (파일명 포함, 확장자 제외)
 * @param {string} 굵기 - 폰트의 굵기 (예: normal, bold, 700 등)
 * @param {string} 스타일 - 폰트의 스타일 (예: normal, italic 등)
 * @param {string} 확장자 - 지원하는 폰트 파일의 확장자 (예: eot, woff2, woff 등)
 */
/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Pretendard-Regular.subset.woff2") format("woff2"), url("../fonts/Pretendard-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.subset.woff2") format("woff2"), url("../fonts/Pretendard-Medium.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.subset.woff2") format("woff2"), url("../fonts/Pretendard-SemiBold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.subset.woff2") format("woff2"), url("../fonts/Pretendard-Bold.subset.woff") format("woff");
}
:root {
  font-size: 16px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  height: 100dvh;
}

body {
  line-height: 1.5;
  font-family: "Pretendard", "Apple SD Gothic Neo", Helvetica, sans-serif;
  background: #fff;
  color: #161616;
  word-wrap: break-word;
  word-break: keep-all;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

input[type=text],
input[type=email],
input[type=number],
input[type=submit],
input[type=reset],
input[type=tel],
input[type=password],
input[type=url],
input[type=search],
input[type=file],
select,
button,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
  color: #333;
  font-family: inherit;
  font-size: 100%;
  letter-spacing: 0;
  cursor: pointer;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

table {
  width: 100%;
  word-break: break-all;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file] > input[type=button]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button span {
  position: relative;
}

textarea {
  resize: none;
}

em,
address,
i {
  font-style: normal;
}

:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

[readonly],
:disabled {
  background: #f1f1f1 !important;
  cursor: not-allowed !important;
}

:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
}

label {
  cursor: pointer;
}

caption,
legend,
.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background: #a8a8a8;
  border-radius: 18px;
  border: 5px solid #f0f0f0;
}

::-webkit-scrollbar-corner {
  background: #f0f0f0;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) or (-ms-flexbox: 1) {
  ::placeholder {
    font-weight: inherit;
    color: #ccc;
    opacity: 1;
  }
}
:focus {
  outline: none;
}

[data-input-group] {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: #fff;
}
[data-input-group] .label {
  display: inline-flex;
  border: 1px solid #C6C6C6;
  border-right: 0;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  align-items: center;
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
[data-input-group] .label + input[type=text], [data-input-group] .label + input[type=password], [data-input-group] .label + input[type=email] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
[data-input-group] input[type=text],
[data-input-group] input[type=password],
[data-input-group] input[type=email] {
  padding: 10px 15px;
  border-radius: 8px;
  width: 100%;
  transition: border-color, box-shadow 0.3s ease;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 40px;
  padding: 12px 16px;
}
[data-input-group] input[type=text]:focus,
[data-input-group] input[type=password]:focus,
[data-input-group] input[type=email]:focus {
  border-color: #009178;
  box-shadow: 0 0 0 1px #009178 inset;
}
[data-input-group] .input_ctr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
[data-input-group] .input_ctr button {
  width: 16px;
  height: 16px;
  font-size: 0;
}
[data-input-group] .input_ctr button.clear {
  background: url(/static/img/icon/icon_close_small_on.png) no-repeat center/16px;
}
[data-input-group] .input_ctr.on {
  opacity: 1;
  pointer-events: auto;
}
[data-input-group]:has(.input_ctr) input[type=text],
[data-input-group]:has(.input_ctr) input[type=password],
[data-input-group]:has(.input_ctr) input[type=email] {
  padding-right: 40px;
}
[data-input-group].password.showable input[type=text],
[data-input-group].password.showable input[type=password],
[data-input-group].password.showable input[type=email] {
  padding-right: 72px;
}
[data-input-group].password.showable .input_ctr {
  right: 44px;
}
[data-input-group].password.showable .pw_ctr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 14px;
}
[data-input-group].password.showable .pw_ctr .pw {
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url(/static/img/icon/icon_pw_off.png) no-repeat center/16px;
}
[data-input-group].password.showable .pw_ctr .pw.on {
  background: url(/static/img/icon/icon_pw_on.png) no-repeat center/16px;
}

[data-page-title] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
[data-page-title] .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
[data-page-title] .title .tit {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}
[data-page-title] .title .breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
[data-page-title] .title .breadcrumb li {
  position: relative;
  font-size: 14px;
  line-height: 16px;
}
[data-page-title] .title .breadcrumb li:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%) rotate(90deg);
  width: 16px;
  height: 16px;
  background: url(/static/img/icon/icon_snb_up.png) no-repeat center/16px;
  filter: brightness(0);
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1900px;
}
.wrap .content {
  flex: 1;
  overflow: auto;
  padding: 30px;
  padding-left: 50px;
}

header .header_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 52px;
  padding: 0 17px 0 34px;
  border-bottom: 1px solid #ddd;
}
header .header_wrap h1 a {
  display: block;
  font-size: 0;
}
header .header_wrap h1 a img {
  height: 26px;
}
header .header_wrap .gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-left: 196px;
}
header .header_wrap .gnb > li {
  position: relative;
  display: inline-flex;
  height: 52px;
  align-items: center;
  cursor: pointer;
}
header .header_wrap .gnb > li.hover .sub {
  visibility: visible;
  opacity: 1;
}
header .header_wrap .gnb > li .tit {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.16px;
}
header .header_wrap .gnb .sub {
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s;
  width: 190px;
  padding: 4px;
  box-shadow: 0px 4px 8px 0px rgba(22, 22, 22, 0.2);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;
  z-index: 999;
}
header .header_wrap .gnb .sub > li a {
  display: block;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 18px;
  transition: all 0.3s;
}
header .header_wrap .gnb .sub > li a:hover {
  background: #F0F0F0;
  color: #009178;
  font-weight: 700;
}
header .header_wrap .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
}
header .header_wrap .user .name {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #009178;
  font-weight: 700;
}
header .header_wrap .user .logout {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-indent: -9999px;
  background: url(/static/img/icon/icon_logout.png) no-repeat center/20px;
  transition: all 0.3s;
}
header .header_wrap .user .logout:hover {
  background-color: #D7EDE6;
}
header .header_wrap .user .logout:active {
  background-color: #A7D8B7;
}
header .tab {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: #009178;
  padding: 8px 30px 0 34px;
  height: 46px;
}
header .tab .tab_wrap {
  overflow: hidden;
  max-width: calc(100% - 160px);
}
header .tab .tab_wrap ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .tab .tab_wrap ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 170px;
  height: 38px;
  padding: 10px 36px 10px 16px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: #A7D8B7;
  white-space: nowrap;
  cursor: pointer;
  flex-shrink: 0;
}
header .tab .tab_wrap ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 16px;
  background: #006C5A;
}
header .tab .tab_wrap ul li:last-child:after {
  display: none;
}
header .tab .tab_wrap ul li .close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url(/static/img/icon/icon_close_small.png) no-repeat center/16px;
}
header .tab .tab_wrap ul li.on {
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #161616;
}
header .tab .tab_wrap ul li.on:after {
  display: none;
}
header .tab .tab_wrap ul li.on .close {
  background: url(/static/img/icon/icon_close_small_on.png) no-repeat center/16px;
}
header .tab .ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  margin-left: auto;
  margin-bottom: 15px;
  flex-shrink: 0;
}
header .tab .ctr button {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 500;
}
header .tab .ctr button.prev {
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
  background: url(/static/img/icon/icon_snb_up.png) no-repeat center/16px;
  filter: brightness(100);
  font-size: 0;
}
header .tab .ctr button.next {
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  background: url(/static/img/icon/icon_snb_up.png) no-repeat center/16px;
  filter: brightness(100);
  font-size: 0;
  margin-left: 8px;
}
header .tab .ctr button.close {
  margin-left: 26px;
  padding-right: 24px;
  background: url(/static/img/icon/icon_close_small.png) no-repeat right/16px;
}
header .snb {
  position: fixed;
  left: 0;
  top: 98px;
  width: 250px;
  height: calc(100% - 98px);
  padding: 10px 16px;
  background: #F0F0F0;
  border-right: 1px solid #ddd;
  transform: translateX(calc(-100% + 20px));
  transition: all 0.3s;
  z-index: 999;
}
header .snb:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  width: 16px;
  height: 16px;
  background: url(/static/img/icon/icon_snb_menu.png) no-repeat center/16px;
}
header .snb.on {
  transform: translateX(0);
}
header .snb.on:after {
  display: none;
}
header .snb.on .show:after {
  transform: translate(-50%, -50%) rotate(-90deg);
}
header .snb .snb_wrap > ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
header .snb .snb_wrap > ul > li .tit {
  width: 100%;
  position: relative;
  text-align: left;
  padding: 10px 36px 10px 50px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
header .snb .snb_wrap > ul > li .tit:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
header .snb .snb_wrap > ul > li .tit:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 16px;
  height: 16px;
  background: url(/static/img/icon/icon_snb_down.png) no-repeat center/16px;
}
header .snb .snb_wrap > ul > li .tit:hover {
  background: #ddd;
}
header .snb .snb_wrap > ul > li.on .tit {
  background: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #009178;
}
header .snb .snb_wrap > ul > li.on .tit:before {
  filter: brightness(0) saturate(100%) invert(35%) sepia(97%) saturate(510%) hue-rotate(124deg) brightness(99%) contrast(104%);
}
header .snb .snb_wrap > ul > li.on .tit:after {
  background: url(/static/img/icon/icon_snb_up.png) no-repeat center/16px;
  filter: brightness(0) saturate(100%) invert(35%) sepia(97%) saturate(510%) hue-rotate(124deg) brightness(99%) contrast(104%);
}
header .snb .snb_wrap > ul > li:nth-child(1) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_01.png);
}
header .snb .snb_wrap > ul > li:nth-child(2) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_02.png);
}
header .snb .snb_wrap > ul > li:nth-child(3) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_03.png);
}
header .snb .snb_wrap > ul > li:nth-child(4) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_04.png);
}
header .snb .snb_wrap > ul > li:nth-child(5) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_05.png);
}
header .snb .snb_wrap > ul > li:nth-child(6) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_06.png);
}
header .snb .snb_wrap > ul > li:nth-child(7) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_07.png);
}
header .snb .snb_wrap > ul > li:nth-child(8) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_08.png);
}
header .snb .snb_wrap > ul > li:nth-child(9) .tit:before {
  background-image: url(/static/img/icon/icon_snb_bullet_09.png);
}
header .snb .snb_wrap .sub {
  display: none;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}
header .snb .snb_wrap .sub li {
  margin-top: 2px;
}
header .snb .snb_wrap .sub li a {
  display: block;
  padding: 9px 16px 9px 50px;
  border-radius: 8px;
  color: #525252;
  font-size: 15px;
  line-height: 18px;
}
header .snb .snb_wrap .sub li a:hover {
  color: #009178;
}
header .snb .snb_wrap .sub li a:focus {
  background: #009178;
  color: #fff;
  font-weight: 700;
}
header .snb .show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -16px;
  width: 16px;
  height: 44px;
  background: #009178;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
header .snb .show:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 16px;
  height: 16px;
  background: url(/static/img/icon/icon_snb_up.png) no-repeat center/16px;
  filter: brightness(100);
}
header .snb .show span {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/*# sourceMappingURL=ui.css.map */
