<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %> | 하나캐피탈 자산관리시스템
  </title>
  <link rel="stylesheet" href="/static/css/ui.css">
  <script src="/static/js/libs/jquery-3.7.1.js"></script>
  <script src="/static/js/libs/jquery-ui.js"></script>
  <script src="/static/js/libs/jquery.ui.monthpicker.js"></script>
  <script src="/static/js/libs/jquery-viewer.js"></script>
  <script src="/static/js/libs/swiper-bundle.js"></script>
  <script src="/static/js/libs/ag-grid-community.js"></script>
  <script src="/static/js/ui.js" type="module"></script>
</head>