@use "../helpers/_mixins" as mixins;
@use "../helpers/_variables" as var;

:root {
  --ag-font-family: var.$global-font-family;
  --ag-selected-row-background-color: #d7ede6cc !important;
  --ag-row-hover-color: #eef0f2 !important;
}

.ag-root-wrapper {
  border: 0;
}

.ag-header-cell,
.ag-header-group-cell {
  justify-content: center;
  padding: 0;
}

.ag-header-cell-label,
.ag-header-group-cell-label {
  justify-content: center;
}

.ag-cell {
  text-align: center;
}

.ag-cell-focus:not(.ag-cell-range-selected):focus-within {
  border-color: transparent !important;
}