@use "../helpers/_mixins" as mixins;
@use "../helpers/_variables" as var;

[data-btn] {
  @include mixins.inline-flexbox;
  gap: 4px;
  border: 1px solid var.$primary-color;
  background: var.$primary-color;
  color: var.$white-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin: 0 1px;
  padding: 14px 22px;
  border-radius: var.$global-border-radius;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background: var.$btn-hover-color;
    border-color: var.$btn-hover-color;
  }

  &:focus,
  &:active {
    background: var.$btn-select-color;
    border-color: var.$btn-select-color;
  }

  &:disabled {
    background: var.$btn-disable-color !important;
    border-color: var.$btn-disable-color !important;
    color: var.$white-color !important;
    cursor: not-allowed;
  }

  &.secondary {
    background: var.$white-color;
    border-color: var.$secondary-color;
    color: var.$primary-color;

    &:hover {
      background: var.$tertiary-color;
    }

    &:focus,
    &:active {
      background: var.$secondary-color;
    }

    &:disabled {
      background: var.$white-color !important;
      border-color: var.$gray-20-color !important;
      color: var.$btn-disable-color !important;
    }
  }

  &.mx {
    font-size: 18px;
    line-height: 20px;
    padding: 17px 36px;
  }

  &.m {
    font-size: 15px;
    line-height: 16px;
    padding: 11px 20px;
  }

  &.s {
    padding: 8px 14px;
  }

  &.xs {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    padding: 3px 8px;
    border-radius: calc(var.$global-border-radius / 2);
  }

  &.reset {
    padding: 9px 14px;
  }

  &.docs {
    padding: 6px 9px;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

[data-text-btn] {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var.$gray-50-color;
  text-decoration: underline;
}

[data-btn-group] {
  display: inline-flex;
  border: 1px solid var.$secondary-color;
  border-radius: var.$global-border-radius;
  overflow: hidden;
  background: var.$white-color;

  button {
    @include mixins.inline-flexbox;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: var.$primary-color;
    padding: 10px 16px;
    border-right: 1px solid var.$secondary-color;
    transition: all .3s;

    &:last-child {
      border: 0;
    }

    &:disabled {
      color: var.$secondary-color;
      cursor: not-allowed;
    }

    &.on {
      font-weight: 600;
      background: var.$primary-color;
      color: var.$white-color;
    }
  }

  .btn {
    @include mixins.inline-flexbox;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: var.$primary-color;
    border-right: 1px solid var.$secondary-color;

    label {
      transition: all .3s;
      padding: 10px 16px;
    }

    &:last-child {
      border: 0;
    }

  }

  input[type="radio"] {
    @include mixins.blind;

    &:checked+label {
      font-weight: 600;
      background: var.$primary-color;
      color: var.$white-color;
    }

    &:disabled+label {
      color: var.$secondary-color;
      cursor: not-allowed;
    }
  }
}