@use "../helpers/_variables" as var;

[data-btn] {
  border: 1px solid var.$primary-color;
  background: var.$primary-color;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 22px;
  border-radius: var.$global-border-radius;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background: var.$primary-color-hover;
    border-color: var.$primary-color-hover;
  }

  &:focus,
  &:active {
    background: var.$primary-color-selected;
    border-color: var.$primary-color-selected;
  }

  &:disabled {
    background: var.$default-color !important;
    border-color: var.$default-color !important;
    color: #fff !important;
    cursor: not-allowed !important;
  }

  &.secondary {
    background: var.$secondary-color;
    border-color: var.$secondary-color-selected;
    color: var.$primary-color;

    &:hover {
      background: var.$secondary-color-hover;
    }

    &:focus,
    &:active {
      background: var.$secondary-color-selected;
    }
  }
}