@use "../helpers/_mixins" as mixins;
@use "../helpers/_variables" as var;

[data-btn] {
  @include mixins.inline-flexbox;
  gap: 4px;
  border: 1px solid var.$primary-color;
  background: var.$primary-color;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin: 0 1px;
  padding: 14px 22px;
  border-radius: var.$global-border-radius;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background: var.$primary-color-hover;
    border-color: var.$primary-color-hover;
  }

  &:focus,
  &:active {
    background: var.$primary-color-selected;
    border-color: var.$primary-color-selected;
  }

  &:disabled {
    background: var.$default-color !important;
    border-color: var.$default-color !important;
    color: #fff !important;
    cursor: not-allowed;
  }

  &.secondary {
    background: var.$secondary-color;
    border-color: var.$secondary-color-selected;
    color: var.$primary-color;

    &:hover {
      background: var.$secondary-color-hover;
    }

    &:focus,
    &:active {
      background: var.$secondary-color-selected;
    }

    &:disabled {
      background: #fff !important;
      border-color: #ddd !important;
      color: #bdc1c6 !important;
    }
  }

  &.mx {
    font-size: 18px;
    line-height: 20px;
    padding: 17px 36px;
  }

  &.m {
    padding: 10px 22px;
  }

  &.s {
    padding: 8px 18px;
  }

  &.xs {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    padding: 3px 8px;
    border-radius: calc(var.$global-border-radius / 2);
  }

  &.reset {
    padding: 9px 14px;
  }

  &.docs {
    padding: 6px 9px;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

[data-btn-group] {
  display: inline-flex;
  border: 1px solid var.$secondary-color-selected;
  border-radius: var.$global-border-radius;
  overflow: hidden;
  background: #fff;

  button {
    @include mixins.inline-flexbox;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: var.$primary-color;
    padding: 10px 16px;
    border-right: 1px solid var.$secondary-color-selected;
    transition: all .3s;

    &:last-child {
      border: 0;
    }

    &.on {
      font-weight: 600;
      background: var.$primary-color;
      color: #fff;
    }

    &:disabled {
      color: var.$secondary-color-selected;
      cursor: not-allowed;
    }
  }

  .btn {
    @include mixins.inline-flexbox;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: var.$primary-color;
    border-right: 1px solid var.$secondary-color-selected;

    label {
      transition: all .3s;
      padding: 10px 16px;
    }

    &:last-child {
      border: 0;
    }

  }

  input[type="radio"] {
    @include mixins.blind;

    &:checked+label {
      font-weight: 600;
      background: var.$primary-color;
      color: #fff;
    }

    &:disabled+label {
      color: var.$secondary-color-selected;
      cursor: not-allowed;
    }
  }
}