@use "../helpers/_mixins" as mixins;
@use "../helpers/_variables" as var;

[data-input-group] {
  @include mixins.inline-flexbox(flex-start);
  position: relative;

  .label {
    display: inline-flex;
    border: 1px solid var.$gray-30-color;
    border-right: 0;
    height: 40px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    align-items: center;
    padding: 0 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-shrink: 0;
    background: var.$white-color;

    &+input[type='text'],
    &+input[type='password'],
    &+input[type='email'],
    &+[data-dropdown] .toggle {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  input[type='text'],
  input[type='password'],
  input[type='email'] {

    border-radius: var.$global-border-radius;
    width: 100%;
    transition: border-color, box-shadow .3s ease;
    border: 1px solid var.$gray-30-color;
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
    background: var.$white-color;

    &:focus:not(:is(.datepicker, .monthpicker)) {
      border-color: var.$primary-color;
      box-shadow: 0 0 0 1px var.$primary-color inset;
    }

    &:read-only,
    &:disabled {
      background: var.$gray-10-color;
      cursor: not-allowed;

      &:focus {
        border-color: var.$gray-30-color;
        box-shadow: none;
      }
    }
  }

  .textarea_wrap {
    width: 100%;
    border-radius: var.$global-border-radius;
    transition: border-color, box-shadow .3s ease;
    border: 1px solid var.$gray-30-color;
    padding: 4px;

    textarea {
      @include mixins.scrollbar;
      display: block;
      resize: vertical;
      width: 100%;
      min-height: 88px;
      padding: 8px 12px;
      background: var.$white-color;
    }

    &.focus {
      border-color: var.$primary-color;
      box-shadow: 0 0 0 1px var.$primary-color inset;
    }
  }

  .input_ctr {
    @include mixins.pos-center-y;
    @include mixins.inline-flexbox;
    right: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;

    button {
      width: 16px;
      height: 16px;
      font-size: 0;

      &.clear {
        background: url(/static/img/icon/icon_close_small_on.png) no-repeat center / 16px;
      }
    }

    &.on {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &:has(.input_ctr) {

    input[type='text'],
    input[type='password'],
    input[type='email'] {
      padding-right: 40px !important;
    }
  }

  .unit {
    margin-left: 4px;
    font-size: 15px;
    font-weight: 700;
  }

  //small
  &.small {

    input[type='text'],
    input[type='password'],
    input[type='email'] {
      height: 32px;
      padding: 0 10px;
    }
  }

  //비밀번호
  &.password {
    &.showable {

      input[type='text'],
      input[type='password'],
      input[type='email'] {
        padding-right: 72px !important;
      }

      .input_ctr {
        right: 44px;
      }

      .pw_ctr {
        @include mixins.pos-center-y;
        @include mixins.inline-flexbox;
        right: 14px;

        .pw {
          width: 16px;
          height: 16px;
          font-size: 0;
          background: url(/static/img/icon/icon_pw_off.png) no-repeat center / 16px;

          &.on {
            background: url(/static/img/icon/icon_pw_on.png) no-repeat center / 16px;
          }
        }
      }
    }
  }

  //검색
  &.search_box {

    input[type='text'],
    input[type='password'],
    input[type='email'] {
      padding-right: 40px;
    }

    .search_btn {
      @include mixins.pos-center-y;
      @include mixins.inline-flexbox;
      right: 14px;

      .search {
        width: 16px;
        height: 16px;
        font-size: 0;
        background: url(/static/img/icon/icon_search.png) no-repeat center / 16px;
      }
    }
  }

  //Datepicker
  &.calendar {
    .date_wrap {
      @include mixins.inline-flexbox(flex-end, center);
      border-top-right-radius: var.$global-border-radius;
      border-bottom-right-radius: var.$global-border-radius;
      border: 1px solid var.$gray-30-color;
      gap: 10px;
      padding: 0 16px;
      flex: 1;
      background: var.$white-color;

      input[type='text'] {
        border: 0;
        height: 38px;
        width: 94px;
        padding: 0;
        padding-right: 16px;
        background: url(/static/img/icon/icon_calendar.png) no-repeat 100% center / 16px;
      }
    }
  }

}

[data-search-group] {
  @include mixins.inline-flexbox(space-between, flex-start);
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 14px 18px;
  gap: 20px;
  border: 1px solid var.$gray-20-color;
  background: var.$gray-10-color;
  border-radius: 10px;

  .opt {
    @include mixins.flexbox(flex-start);
    gap: 10px;
    flex-wrap: wrap;
  }
}

//드롭다운
[data-dropdown] {
  display: flex;
  flex: 1;

  .toggle {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    text-align: left;
    padding: 0 42px 0 16px;
    border-radius: var.$global-border-radius;
    transition: border-color, box-shadow 0.3s ease;
    border: 1px solid var.$gray-30-color;
    font-size: 14px;
    height: 40px;
    background: var.$white-color url(/static/img/icon/icon_dropdown_arrow.png) no-repeat calc(100% - 16px) center / 16px;
    color: var.$gray-40-color;

    &:focus {
      border-color: var.$primary-color;
      box-shadow: 0 0 0 1px var.$primary-color inset;
    }

    .txt {
      @include mixins.ellipsis;
    }

    &.selected {
      color: var.$gray-80-color;
    }

    &.on+.option {
      opacity: 1;
      visibility: visible;
    }
  }

  .option {
    @include mixins.scrollbar;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    max-height: 168px;
    background: var.$white-color;
    border-radius: var.$global-border-radius;
    padding: 4px;
    box-shadow: 0px 0px 10px 0px #16161633;
    transition: all .1s;
    opacity: 0;
    visibility: hidden;
    z-index: 3;

    li {
      .item {
        display: flex;
        width: 100%;
        text-align: left;
        padding: 7px 16px;
        font-size: 14px;
        line-height: 18px;

        &:hover {
          background: var.$gray-10-color
        }
      }

      &:first-child {
        .item {
          border-top-left-radius: calc(var.$global-border-radius / 2);
          border-top-right-radius: calc(var.$global-border-radius / 2);
        }
      }

      &:last-child {
        .item {
          border-bottom-left-radius: calc(var.$global-border-radius / 2);
          border-bottom-right-radius: calc(var.$global-border-radius / 2);
        }
      }

      &.on {
        .item {
          background: var.$tertiary-color;
          color: var.$primary-color;
          font-weight: 700;
        }
      }
    }

    &.up {
      top: auto !important;
      bottom: 100%;
    }
  }

  &.disabled {
    .toggle {
      background-color: var.$gray-10-color;
      color: var.$gray-80-color;
      cursor: not-allowed;

      &:focus {
        border-color: var.$gray-30-color;
        box-shadow: none;
      }

    }
  }

  &.small {
    .toggle {
      padding: 0 36px 0 10px;
      height: 32px;
      background-position: calc(100% - 8px) center;
    }

    .option {
      top: 33px;
    }
  }
}

//라디오버튼, 체크박스
[data-select-group] {

  input {
    @include mixins.blind;
  }

  .list {
    display: flex;
    gap: 34px;

    >li {
      position: relative;
    }

    label {
      display: inline-flex;
      position: relative;
      padding: 4px 0 4px 28px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.16px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        margin: 2px;
        width: 20px;
        height: 20px;
        border: 1px solid var.$gray-40-color;
        background: var.$white-color;
        border-radius: 5px;
      }
    }

    :disabled {
      &+label {
        &:before {
          background: var.$gray-10-color;
          cursor: not-allowed;
        }
      }
    }

    &.radio {
      label {
        &:before {
          border-radius: 50%;
        }
      }

      :checked {
        &+label {
          &:before {
            border-width: 5px;
            border-color: var.$primary-color;
          }
        }
      }
    }

    &.checkbox {
      :checked {
        &+label {
          &:before {
            background: var.$primary-color url(/static/img/icon/icon_checkbox.png) no-repeat center / 14px 11px;
            border-color: var.$primary-color;
          }
        }
      }
    }

    &.single {
      display: inline-flex;

      >li {
        display: inline-flex;
        overflow: hidden;
        width: 24px;
        height: 24px;
      }
    }

    &.small {
      >li {
        width: 18px;
        height: 18px;
      }

      label {
        &:before {
          margin: 2px;
          width: 14px;
          height: 14px;
          border-radius: 4px;
        }
      }

      &.checkbox {
        :checked {
          &+label {
            &:before {
              background: var.$primary-color url(/static/img/icon/icon_checkbox_small.png) no-repeat center / 10px 8px;
            }
          }
        }
      }
    }
  }
}

//밸리데이션
[data-validation] {

  .msg {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: var.$error-color;
  }

  &.invalid {

    input[type="text"],
    input[type="password"],
    input[type="email"],
    .toggle {
      border-color: var.$error-color !important;
      box-shadow: 0 0 0 1px var.$error-color inset !important;
    }
  }
}