@use "../helpers/_mixins" as mixins;
@use "../helpers/_variables" as var;
@use 'sass:map';

/* AG-Grid */
.grid_dummy {
  @include mixins.flexbox;
  width: 100%;
  min-height: 200px;
  height: 100%;
  border: 1px solid #b02a37;
  background: #f1aeb5;
}

.grid_wrap {
  flex: 1;
  width: 100%;

  .nodata {
    @include mixins.flexbox;
    height: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var.$gray-50-color;

    img {
      display: block;
      height: 48px;
      width: 48px;
      margin: 0 auto 14px;
    }
  }
}

#myGrid {
  height: calc(100% - 44px);
}

/* 에러페이지 */
.error_page {
  @include mixins.column-flexbox;
  width: 100%;
  height: 100%;
  text-align: center;

  img {
    display: block;
    width: 140px;
    height: 110px;
    margin-bottom: 24px;
  }

  .error_tit {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 18px;
    font-weight: 700;
  }

  .txt_wrap {
    p {
      font-size: 16px;
      line-height: 24px;

      &+p {
        margin-top: 8px;
      }
    }
  }
}

/* 
 * 컴포넌트 정의
 * 
 * [data-list] : ·, -같은 불릿을 가진 단순 나열형 목록
 * [data-tab] : 탭메뉴 버튼
 * [data-pagination] : 그리드 페이지네이션
 * [data-loading] : 로딩 상태
 * [data-action-header] : 탭메뉴와 제어버튼들을 포괄하는 레이아웃
 * [data-table] : 상세 페이지용 테이블 레이아웃
 * [data-photo-upload] : 사진 미리보기가 포함된 파일 업로더
 * [data-form-group] : 테이블 내 또는 모달 팝업에 포함되는 테이블 형태의 입력폼
 */

/* 목록 */
[data-list] {
  li {
    position: relative;

    &:before {
      content: '';
      position: absolute;
    }
  }

  &.middot {
    &.type1 {
      li {
        color: var.$gray-60-color;
        padding-left: 10px;
        font-size: 12px;
        line-height: 14px;

        &:before {
          top: 7px;
          left: 0;
          width: 4px;
          height: 4px;
          margin-top: -2px;
          border-radius: 50%;
          background: var.$gray-60-color;
        }

        &:not(:first-child) {
          margin-top: 4px;
        }
      }
    }

    // &.type2 {
    //   padding-left: 10px;

    //   li {
    //     padding-left: 10px;
    //     font-size: 14px;
    //     line-height: 20px;

    //     &:before {
    //       top: 10px;
    //       left: 0;
    //       width: 2px;
    //       height: 2px;
    //       margin-top: -1px;
    //       border-radius: 50%;
    //       background: var.$gray-80-color;
    //     }
    //   }
    // }
  }
}

/* 탭메뉴 */
[data-tab] {
  @include mixins.flexbox(flex-start);
  position: relative;
  gap: 4px;

  a,
  button {
    @include mixins.inline-flexbox;
    font-size: 18px;
    line-height: 20px;
    height: 44px;
    padding: 0 5px;
    min-width: 180px;
    font-weight: 700;
    background: var.$tertiary-color;
    color: var.$primary-color;
    border-top-left-radius: var.$global-border-radius;
    border-top-right-radius: var.$global-border-radius;

    &.on {
      background: var.$primary-color;
      color: #fff;
    }
  }

  &.bar {
    flex: 1;

    :after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var.$primary-color;
    }
  }
}

/* 페이지네이션 */
[data-pagination] {
  position: relative;
  height: 36px;
  margin-top: 8px;

  [data-input-group] {
    position: absolute;
    left: 0;

    [data-dropdown] {
      .toggle {
        height: 36px;
        border-radius: 6px;
        padding: 0 24px 0 10px;
        color: var.$gray-80-color;

        &:after {
          right: 8px;
        }
      }
    }
  }

  .pagination {
    @include mixins.flexbox;
    padding-top: 6px;

    .page-item {
      @include mixins.inline-flexbox;

      .page-link {
        width: 24px;
        line-height: 24px;
        font-size: 14px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
      }

      &:is(.first, .prev, .next, .last) {
        .page-link {
          font-size: 0;
          width: 16px;
          height: 16px;
        }

        &.disabled {
          .page-link {
            filter: brightness(0) saturate(100%) invert(79%) sepia(0%) saturate(1117%) hue-rotate(169deg) brightness(84%) contrast(101%);
          }
        }
      }

      &.active {
        .page-link {
          background-color: var.$primary-color;
          color: var.$white-color;
          border-radius: calc(var.$global-border-radius / 2);
        }
      }

      $page-item-icons: (
        first: (margin-right: 4px, background-image: url(/static/img/icon/icon_pagination_first.png)),
        prev: (margin-right: 8px, background-image: url(/static/img/icon/icon_pagination_prev.png)),
        next: (margin-left: 8px, background-image: url(/static/img/icon/icon_pagination_next.png)),
        last: (margin-left: 4px, background-image: url(/static/img/icon/icon_pagination_last.png))
      );

    @each $name, $styles in $page-item-icons {
      &.#{$name} {
        @if map.has-key($styles, margin-right) {
          margin-right: map.get($styles, margin-right)
        }

        @if map.has-key($styles, margin-left) {
          margin-left: map.get($styles, margin-left)
        }

        .page-link {
          background-image: map.get($styles, background-image);
        }
      }
    }
  }
}
}

/* 로딩 */
[data-loading] {
  @include mixins.flexbox;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  font-size: 0;

  &.on {
    visibility: visible;
    opacity: 1;
  }

  &.blind {
    background: #000;
  }

  .loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }

  @keyframes mulShdSpin {

    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em var.$white-color, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }

    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em var.$white-color, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }

    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em var.$white-color, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em var.$white-color, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em var.$white-color, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em var.$white-color, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em var.$white-color, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em var.$white-color;
    }
  }
}

/* 액션헤더 */
[data-action-header] {
  @include mixins.flexbox(space-between, flex-end);
  margin-bottom: 12px;
  gap: 52px;
  min-height: 36px;

  .total {
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;

    .num {
      color: var.$primary-color;
    }
  }

  .btn {
    margin-left: auto;
  }
}

/* 테이블 */
[data-table] {
  table {
    border-top: 1px solid #000;

    :is(th, td) {
      font-size: 14px;
      line-height: 20px;
      height: 46px;
      padding: 14px;
      border-bottom: 1px solid var.$gray-20-color;
      text-align: left;
      vertical-align: top;
    }

    th {
      background: var.$table-title-color;
      font-weight: 700;
      font-size: 15px;

      .essential {
        display: inline-block;
        font-size: 0;
        width: 10px;
        height: 10px;
        background: url(/static/img/icon/icon_asterisk.png) no-repeat center / 6px;
        vertical-align: top;
      }
    }

    [data-action-header] {
      margin-top: 0 !important;
    }
  }

  //입력폼
  &.form {
    table {
      :is(th, td) {
        vertical-align: middle;
        height: 72px;
      }

      th {
        text-align: center;

        .essential {
          margin-top: 8px;
        }
      }

      td {
        padding: 14px 25px;
      }
    }
  }

  //그리드타입
  &.grid {
    table {
      :is(th, td) {
        height: 40px;
        padding: 9px;
        text-align: center;
        border-color: var.$gray-30-color;
        vertical-align: middle;

        [data-input-group] {
          width: 100%;

          input[type='text'],
          input[type='password'],
          input[type='email'] {
            height: 32px;
            padding: 0 10px;
          }

          [data-dropdown] {
            .toggle {
              padding: 0 40px 0 10px;
              height: 32px;

              &:after {
                right: 14px;
              }
            }

            .option {
              top: 33px;
            }
          }
        }
      }

      th {
        padding: 10px 14px;
        background: var.$gray-10-color;
      }

      thead {
        tr {
          th {
            position: relative;

            &:not(:last-child) {
              &:after {
                @include mixins.pos-center-y;
                content: "";
                right: 0;
                width: 1px;
                height: 16px;
                background: var.$gray-30-color;
              }
            }
          }
        }
      }

      tr {
        &:hover {
          background: var.$table-hover-color;
        }

        &.on {
          td {
            background: #d7ede6cc;
          }
        }
      }
    }
  }
}

/* 사진첨부 */
[data-photo-upload] {
  .guide {
    @include mixins.flexbox(flex-start);
    position: relative;
    font-size: 15px;
    line-height: 20px;
    gap: 10px;
    color: var.$gray-50-color;

    input[type="file"] {
      @include mixins.blind;
    }
  }

  .preview {
    @include mixins.flexbox(flex-start);
    margin-top: 10px;
    gap: 6px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    li {
      position: relative;
      width: 180px;
      height: 120px;
      flex-shrink: 0;
      scroll-snap-align: start;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border: 4px solid var.$primary-color;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
      }

      &:hover {

        &:after,
        .del {
          visibility: visible;
          opacity: 1;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .del {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 20px;
        height: 20px;
        background: url(/static/img/icon/icon_preview_del.png) no-repeat center / 20px;
        font-size: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
      }

    }
  }

  .no_photo {
    @include mixins.flexbox;
    height: 120px;
    font-size: 16px;
    line-height: 20px;
    color: var.$gray-50-color;
  }
}

/* 입력폼 목록 */
[data-form-group] {
  @include mixins.flexbox(flex-start);
  flex-wrap: wrap;
  gap: 8px 66px;

  hr {
    margin: 8px 0;
    flex-basis: 100%;
    border: 0;
    border-top: 1px solid var.$gray-20-color;
  }

  .box {
    @include mixins.inline-flexbox(flex-start);
    flex: 0 1 calc(25% - 50px);
    gap: 14px;

    .label {
      min-width: 110px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      flex-shrink: 0;

      .essential {
        display: inline-block;
        font-size: 0;
        width: 10px;
        height: 10px;
        background: url(/static/img/icon/icon_asterisk.png) no-repeat center / 6px;
        vertical-align: top;
      }
    }

    [data-input-group] {
      width: 100%;
    }

    &.x2 {
      flex: 0 1 calc(50% - 32px);
    }

    &.x3 {
      flex: 0 1 calc(75% - 16px);
    }

    &.full {
      flex: 0 1 100%;
    }
  }

  &.d3 {
    width: calc(75% - 18px);

    .box {
      flex: 0 1 calc(33.33% - 44px);

      &.x2 {
        flex: 0 1 calc(66.66% - 22px);
      }

      &.x3,
      &.full {
        flex: 0 1 100%;
      }
    }
  }

  &.flexible {
    .box {
      flex: none;
    }
  }
}