@use "../helpers/_mixins" as mixins;

$viewport-width: 1920px; // 뷰포트 너비
$scrollbar-width: 18px; // 스크롤바 너비

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: calc($viewport-width - $scrollbar-width);

  .content {
    flex: 1;
    overflow: auto;
    padding: 30px;
    padding-left: 50px;

    &.no_snb {
      padding-left: 30px;
    }
  }

  &.popup_wrap {
    min-width: 0;
  }
}