@use "../helpers/_mixins" as mixins;
@use "../helpers/_variables" as var;

.wrap {
  height: 100%;

  &.print {
    height: auto;

    &.w640 {
      min-width: 640px;
    }

    &.w800 {
      min-width: 800px;
    }

    &.w1000 {
      min-width: 1000px;
    }

    &.w1200 {
      min-width: 1200px;
    }
  }

  .content {
    height: calc(100% - 88px);
    overflow: auto;
  }

  &.popup_wrap {
    min-width: 0;
  }

  //iframe
  .main_frame {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.content {
  height: 100%;
  padding: 8px 30px 8px 50px;

  &.no_snb {
    padding-left: 30px;
  }

  //검색입력폼과 그리드만 있는 페이지
  &.grid {
    display: flex;
    flex-direction: column;

    [data-tab] {
      flex: none;
    }

    [data-tab-pages] {
      margin-top: 20px;
      @include mixins.flexbox-full-height;

      .tab_page {
        @include mixins.flexbox-full-height;
      }
    }
  }

  //상세 및 입력 페이지
  &.detail {
    padding-bottom: 30px;

    :not([data-page-title])+.cont_wrap {
      margin-top: 20px;
    }

    [data-action-header] {
      margin-top: 20px;
    }

    .cont_wrap {
      .cont_tit {
        @include mixins.flexbox(flex-start, center);
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 8px;
        gap: 10px;

        .tag {
          font-size: 12px;
          font-weight: 600;
          line-height: 12px;
          padding: 6px 8px;
          border-radius: var.$global-border-radius;
          background: var.$gray-10-color;

          &.pass {
            background: #d0e2ff;
            color: #0043ce;
          }

          &.fail {
            background: var.$error-10-color;
            color: var.$error-color;
          }
        }

        .btn {
          margin-left: auto;
        }
      }
    }

    .btn_wrap {
      text-align: center;
      margin-top: 30px;
    }
  }

  //iframe 적용 스타일
  &:has(iframe) {
    padding: 0;
  }
}