@use "../helpers/_mixins" as mixins;

$viewport-width: 1920px; // 뷰포트 너비
$scrollbar-width: 18px; // 스크롤바 너비

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: calc($viewport-width - $scrollbar-width);

  &.print {
    height: auto;

    &.w640 {
      min-width: 640px;
    }

    &.w800 {
      min-width: 800px;
    }

    &.w1000 {
      min-width: 1000px;
    }

    &.w1200 {
      min-width: 1200px;
    }
  }

  .content {
    flex: 1;
    overflow: auto;
    padding: 30px;
    padding-top: 8px;
    padding-left: 50px;

    &.no_snb {
      padding-left: 30px;
    }

    // 검색입력폼과 그리드만 있는 페이지
    &.grid {
      display: flex;
      flex-direction: column;
    }

    // 상세 및 입력 페이지
    &.detail {
      padding-bottom: 30px;

      :not([data-page-title])+.cont_wrap {
        margin-top: 20px;
      }

      [data-action-header] {
        margin-top: 20px;
      }

      .cont_wrap {
        .cont_tit {
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
          margin-bottom: 8px;
        }
      }

      .btn_wrap {
        text-align: center;
        margin-top: 30px;
      }
    }
  }

  &.popup_wrap {
    min-width: 0;
  }
}