@use "../helpers/_mixins" as mixins;
@use "../helpers/_variables" as var;

header {

  .header_wrap {
    @include mixins.flexbox(flex-start);
    height: 52px;
    padding: 0 17px 0 34px;
    border-bottom: 1px solid #ddd;

    h1 {
      a {
        display: block;
        font-size: 0;

        img {
          height: 26px;
        }
      }
    }

    .gnb {
      @include mixins.flexbox;
      gap: 64px;
      margin-left: 196px;

      >li {
        position: relative;
        display: inline-flex;
        height: 52px;
        align-items: center;
        cursor: pointer;

        &.hover {
          .sub {
            visibility: visible;
            opacity: 1;
          }
        }

        .tit {
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.16px;
        }
      }

      .sub {
        position: absolute;
        left: 0;
        top: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all .1s;
        width: 190px;
        padding: 4px;
        box-shadow: 0px 4px 8px 0px #16161633;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: #fff;
        z-index: 999;

        >li {
          a {
            display: block;
            padding: 8px 12px;
            font-size: 15px;
            line-height: 18px;
            transition: all .3s;

            &:hover {
              background: var.$default-background-color;
              color: var.$primary-color;
              font-weight: 700;
            }

          }
        }
      }

    }

    .user {
      @include mixins.flexbox(flex-start);
      margin-left: auto;

      .name {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.16px;
        color: var.$primary-color;
        font-weight: 700;
      }

      .logout {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-indent: -9999px;
        background: url(/static/img/icon/icon_logout.png) no-repeat center / 20px;
        transition: all .3s;

        &:hover {
          background-color: var.$secondary-color-hover;
        }

        &:active {
          background-color: var.$secondary-color-selected;
        }
      }
    }
  }

  .tab {
    @include mixins.flexbox(flex-start, flex-end);
    background: var.$primary-color;
    padding: 8px 30px 0 34px;
    height: 46px;

    .tab_wrap {
      overflow: hidden;
      max-width: calc(100% - 160px);

      ul {
        @include mixins.flexbox(flex-start);

        li {
          @include mixins.flexbox(flex-start);
          position: relative;
          min-width: 170px;
          height: 38px;
          padding: 10px 36px 10px 16px;
          font-size: 15px;
          line-height: 18px;
          font-weight: 600;
          color: var.$secondary-color-selected;
          white-space: nowrap;
          cursor: pointer;
          flex-shrink: 0;

          &:after {
            content: "";
            @include mixins.pos-center-y;
            right: 0;
            width: 1px;
            height: 16px;
            background: #006C5A;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }

          .close {
            @include mixins.pos-center-y;
            right: 10px;
            width: 16px;
            height: 16px;
            font-size: 0;
            background: url(/static/img/icon/icon_close_small.png) no-repeat center / 16px;
          }

          &.on {
            background: #fff;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: var.$default-text-color;

            &:after {
              display: none;
            }

            .close {
              background: url(/static/img/icon/icon_close_small_on.png) no-repeat center / 16px;
            }
          }
        }
      }
    }

    .ctr {
      @include mixins.flexbox;
      height: 16px;
      margin-left: auto;
      margin-bottom: 15px;
      flex-shrink: 0;

      button {
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        font-weight: 500;

        &.prev {
          width: 16px;
          height: 16px;
          transform: rotate(-90deg);
          background: url(/static/img/icon/icon_snb_up.png) no-repeat center / 16px;
          filter: brightness(100);
          font-size: 0;
        }

        &.next {
          width: 16px;
          height: 16px;
          transform: rotate(90deg);
          background: url(/static/img/icon/icon_snb_up.png) no-repeat center / 16px;
          filter: brightness(100);
          font-size: 0;
          margin-left: 8px;
        }

        &.close {
          margin-left: 26px;
          padding-right: 24px;
          background: url(/static/img/icon/icon_close_small.png) no-repeat right / 16px;
        }
      }
    }
  }

  .snb {
    position: fixed;
    left: 0;
    top: 98px;
    width: 250px;
    height: calc(100% - 98px);
    padding: 10px 16px;
    background: var.$default-background-color;
    border-right: 1px solid #ddd;
    transform: translateX(calc(-100% + 20px));
    transition: all .3s;
    z-index: 999;

    &:after {
      content: "";
      @include mixins.pos-center-y;
      right: 2px;
      width: 16px;
      height: 16px;
      background: url(/static/img/icon/icon_snb_menu.png) no-repeat center / 16px;
    }

    &.on {
      transform: translateX(0);

      &:after {
        display: none;
      }

      .show {
        &:after {
          transform: translate(-50%, -50%) rotate(-90deg);
        }
      }
    }

    .snb_wrap {
      // height: 100%;
      // overflow-x: hidden;
      // overflow-y: auto;

      >ul {
        display: flex;
        flex-direction: column;
        gap: 6px;

        >li {
          .tit {
            width: 100%;
            position: relative;
            text-align: left;
            padding: 10px 36px 10px 50px;
            border-radius: var.$global-border-radius;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;

            &:before {
              content: "";
              @include mixins.pos-center-y;
              left: 20px;
              width: 20px;
              height: 20px;
              background-size: 20px;
              background-repeat: no-repeat;
              background-position: center;
            }

            &:after {
              content: "";
              @include mixins.pos-center-y;
              right: 10px;
              width: 16px;
              height: 16px;
              background: url(/static/img/icon/icon_snb_down.png) no-repeat center / 16px;
            }

            &:hover {
              background: #ddd;
            }
          }

          &.on {
            .tit {
              background: #fff;
              box-shadow: 0px 1px 1px 0px #00000033;
              color: var.$primary-color;

              &:before {
                filter: var.$primary-color-filter;
              }

              &:after {
                background: url(/static/img/icon/icon_snb_up.png) no-repeat center / 16px;
                filter: var.$primary-color-filter;
              }
            }

          }

          @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
              .tit {
                &:before {
                  background-image: url(/static/img/icon/icon_snb_bullet_0#{$i}.png);
                }
              }
            }
          }
        }
      }

      .sub {
        display: none;
        padding: 6px 0;
        border-bottom: 1px solid #ddd;

        li {
          margin-top: 2px;

          a {
            display: block;
            padding: 9px 16px 9px 50px;
            border-radius: var.$global-border-radius;
            color: #525252;
            font-size: 15px;
            line-height: 18px;

            &:hover {
              color: var.$primary-color;
            }

            &:focus {
              background: var.$primary-color;
              color: #fff;
              font-weight: 700;
            }
          }
        }
      }
    }

    .show {
      @include mixins.pos-center-y;
      right: -16px;
      width: 16px;
      height: 44px;
      background: var.$primary-color;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 16px;
        height: 16px;
        background: url(/static/img/icon/icon_snb_up.png) no-repeat center / 16px;
        filter: brightness(100);
      }

      span {
        @include mixins.blind;
      }
    }
  }

}