<%- include('_inc/head', {title:'페이지제목'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div class="content grid">
          <% const page_title={ title: "제목" , isClear: true }; %>
            <div class="grid_wrap">
              <div id="myGrid" class="ag-theme-alpine"></div>
              <div data-pagination>
                <div data-input-group class="dropdown">
                  <div data-dropdown>
                    <button type="button" class="toggle">
                      <div class="txt">20개</div>
                    </button>
                    <ul class="option up">
                      <li>
                        <button type="button" class="item" data-value="10">10개</button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="20">20개</button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="30">30개</button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="40">40개</button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="50">50개</button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div id="pagination-div"></div>
              </div>
              <script>
                $('#pagination-div').twbsPagination({
                  totalPages: 50,
                  visiblePages: 10
                });
              </script>
            </div>
        </div>

        <script>
          const markupObject = {
            button: `
              <button type="button" data-btn class="xs">
                검색
              </button>
            `,
            textLink: `
              <a href="https://naver.com" target="_blank" data-text-btn>
                링크
              </a>
            `,
            copy: `
              text
              <button type="button" data-grid-btn>
                <img src="/static/img/icon/icon_text_copy.png" alt="">
                텍스트 복사
              </button>
            `,
            search: `
              text
              <button type="button" data-grid-btn>
                <img src="/static/img/icon/icon_search.png" alt="">
                검색
              </button>
            `,
          };

          const rowData = [
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            }, {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
            {
              orderNumber: "c1243249540359-333",
              orderDate: "2025-03-01",
            },
          ]

          const gridOptions = {
            tooltipShowDelay: 500,
            // defaultColDef: {
            //   editable: true,
            // },
            rowSelection: {
              mode: 'multiRow'
            },
            rowHeight: 30,
            rowData,
            columnDefs: [
              {
                field: 'dropdown',
                cellEditor: 'agSelectCellEditor',
                cellEditorParams: {
                  values: ['value1', 'value2', 'value3', 'value4', 'value5'],
                },
                valueGetter: (params) => {
                  return params.data.dropdown || 'value1';
                },
                width: 150,
                editable: true,
              },
              {
                headerName: "Tooltip",
                field: "orderNumber",
                width: 150,
                tooltipValueGetter: (params) => {
                  return params.data.orderNumber;
                },
              },
              {
                headerName: "*Datepicker",
                field: "orderDate",
                width: 150,
                editable: true,
              },
              // {
              //   field: "button", cellRenderer: params => {
              //     return markupObject.button;
              //   },
              //   width: 80,
              // },
              {
                field: "link", cellRenderer: params => {
                  return markupObject.textLink;
                },
                width: 120,
              },
              {
                field: "copy", cellRenderer: params => {
                  return markupObject.copy;
                },
                width: 120,
              },
              {
                field: "search", cellRenderer: params => {
                  return markupObject.search;
                },
                width: 120,
              },
            ]
          };

          const myGridElement = document.querySelector('#myGrid');
          agGrid.createGrid(myGridElement, gridOptions);
        </script>
        <%- include('_inc/tail') %>