<%- include('_inc/head', {title:'마크업 가이드'}) %>

  <body>

    <style>
      pre,
      pre * {
        font-size: 12px !important;
        letter-spacing: 0;
        background: #D7EDE6;
        margin-top: 1.5em;
        overflow-x: auto;
      }

      code[class*="language-"],
      pre[class*="language-"] {
        color: #000;
        background: 0 0;
        text-shadow: 0 1px #fff;
        font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.4em;
        -moz-tab-size: 2;
        -o-tab-size: 2;
        tab-size: 2;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
      }

      .guide_wrap {
        padding-left: 250px;
      }

      .guide_map {
        overflow-y: auto;
        overflow-x: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background: #009178;
        padding: 30px 15px;
        color: #fff;
        box-shadow: 0px 4px 8px 0px #16161633;
      }

      .guide_map a {
        display: block;
        line-height: 1.5em;
        padding: .25em 15px;
        border-radius: 4px;
        transition: all .3s;
      }

      .guide_map a:hover {
        background: #D7EDE6;
        color: #009178;
      }

      .guide_group {
        margin-top: 50px;
      }

      .guide_tit {
        font-weight: 700;
        color: #009178;
        font-size: 1.35em;
        margin: 0.25em 0;
      }

      .guide_sub_tit {
        font-weight: 600;
        color: #999;
        font-size: 1.2em;
        margin: 0.25em 0;
      }

      .code {
        margin-top: 1.5em;
      }

      .palette_wrap {
        margin-top: 15px;
      }

      .palette {
        display: flex;
        gap: 10px;
        margin: 3px 0;
      }

      .palette a {
        display: inline-flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 0px rgba(22, 22, 22, 0.2);
      }
    </style>

    <div class="wrap">
      <div class="content">

        <div class="guide_wrap">

          <div class="guide_map">
            <ul>
              <li><a href="#color">Color</a></li>
              <li><a href="#list">List</a></li>
              <li><a href="#tabMenu">Tab Menu</a></li>
              <li><a href="#button">Button</a></li>
              <li><a href="#buttonGroup">Button Group</a></li>
              <li><a href="#radio">Radio Button</a></li>
              <li><a href="#checkbox">Checkbox</a></li>
              <li><a href="#inputGroup">Input Group</a></li>
              <li><a href="#formGroup">Form Group</a></li>
              <li><a href="#dropdown">Dropdown</a></li>
              <li><a href="#validation">Validation</a></li>
              <li><a href="#searchForm">Search Form</a></li>
              <li><a href="#table">Table</a></li>
              <li><a href="#toast">Toast Message</a></li>
              <li><a href="#loading">Loading</a></li>
              <li><a href="#dialog">Dialog Modal Popup</a></li>
              <li><a href="#modal">Modal Popup</a></li>
              <li><a href="#agDummy">AG Grid Dummy</a></li>
            </ul>
          </div>

          <div class="guide_cont">
            <div class="guide_group">
              <h3 id="color" class="guide_tit">Color</h3>
              <p>색상을 클릭 시, 변수명을 클립보드에 복사</p>
              <div class="palette_wrap">
                <h4 class="guide_sub_tit">Main</h4>
                <ul class="palette">
                  <li>
                    <a href="#none" title="$primary-color, #009178" style="background:#009178"></a>
                  </li>
                  <li>
                    <a href="#none" title="$secondary-color, #a7d8b7" style="background:#a7d8b7"></a>
                  </li>
                  <li>
                    <a href="#none" title="$tertiary-color, #d7ede6" style="background:#d7ede6"></a>
                  </li>
                </ul>
                <h4 class="guide_sub_tit">Button</h4>
                <ul class="palette">
                  <li>
                    <a href="#none" title="$btn-default-color, #009178" style="background:#009178"></a>
                  </li>
                  <li>
                    <a href="#none" title="$btn-hover-color, #00a277" style="background:#00a277"></a>
                  </li>
                  <li>
                    <a href="#none" title="$btn-select-color, #007f69" style="background:#007f69"></a>
                  </li>
                  <li>
                    <a href="#none" title="$btn-line-color, #a7d8b7" style="background:#a7d8b7"></a>
                  </li>
                  <li>
                    <a href="#none" title="$btn-disable-color, #bdc1c6" style="background:#bdc1c6"></a>
                  </li>
                </ul>
                <h4 class="guide_sub_tit">Gray(UI shell)</h4>
                <ul class="palette">
                  <li>
                    <a href="#none" title="$gray-80-color, #161616" style="background:#161616"></a>
                  </li>
                  <li>
                    <a href="#none" title="$gray-70-color, #525252" style="background:#525252"></a>
                  </li>
                  <li>
                    <a href="#none" title="$gray-60-color, #6f6f6f" style="background:#6f6f6f"></a>
                  </li>
                  <li>
                    <a href="#none" title="$gray-50-color, #8d8d8d" style="background:#8d8d8d"></a>
                  </li>
                  <li>
                    <a href="#none" title="$gray-40-color, #a8a8a8" style="background:#a8a8a8"></a>
                  </li>
                  <li>
                    <a href="#none" title="$gray-30-color, #c6c6c6" style="background:#c6c6c6"></a>
                  </li>
                  <li>
                    <a href="#none" title="$gray-20-color, #ddd" style="background:#ddd"></a>
                  </li>
                  <li>
                    <a href="#none" title="$gray-10-color, #f0f0f0" style="background:#f0f0f0"></a>
                  </li>
                  <li>
                    <a href="#none" title="$white-color, #fff" style="background:#fff"></a>
                  </li>
                </ul>
                <h4 class="guide_sub_tit">Table</h4>
                <ul class="palette">
                  <li>
                    <a href="#none" title="$table-hover-color, #eef0f2" style="background:#eef0f2"></a>
                  </li>
                  <li>
                    <a href="#none" title="$table-select-color, #d7ede6cc" style="background:#d7ede6cc"></a>
                  </li>
                  <li>
                    <a href="#none" title="$table-title-color, #ebf3ee" style="background:#ebf3ee"></a>
                  </li>
                  <li>
                    <a href="#none" title="$table-input-disable-color, #f7f7f7" style="background:#f7f7f7"></a>
                  </li>
                </ul>
                <h4 class="guide_sub_tit">Error</h4>
                <ul class="palette">
                  <li>
                    <a href="#none" title="$error-color, #dc2527" style="background:#dc2527"></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="guide_group">
              <h3 id="list" class="guide_tit">List</h3>
              <h4 class="guide_sub_tit">Circle</h4>
              <div class="code">
                <ul class="type1" data-list>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, sequi totam ullam tempora
                    necessitatibus ea iure accusantium, mollitia aperiam sint adipisci modi impedit eaque cumque! Harum
                    repellat odit corrupti nostrum.</li>
                </ul>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="tabMenu" class="guide_tit">Tab Menu</h3>
              <h4 class="guide_sub_tit">기본형</h4>
              <div data-tab>
                <button type="button" class="on">Tab</button>
                <button type="button">Long Name Tab Button Long Name Tab Button</button>
                <a href="https://naver.com" target="_blank">Link</a>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">기본형(bar)</h4>
              <div data-tab class="bar">
                <button type="button">Tab1</button>
                <button type="button">Tab2</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="button" class="guide_tit">Button</h3>
              <h4 class="guide_sub_tit">기본형(높이 48px)</h4>
              <div class="code">
                <button type="button" data-btn>버튼 Primary</button>
                <button type="button" data-btn class="secondary">버튼 Secondary</button>
                <button type="button" data-btn disabled>버튼(비활성화)</button>
                <button type="button" data-btn class="secondary" disabled>버튼 Secondary(비활성화)</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">max(높이 56px)</h4>
              <div class="code">
                <button type="button" data-btn class="mx">버튼 Primary</button>
                <button type="button" data-btn class="secondary mx">버튼 Secondary</button>
                <button type="button" data-btn class="mx" disabled>버튼(비활성화)</button>
                <button type="button" data-btn class="secondary mx" disabled>버튼 Secondary(비활성화)</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">medium(높이 40px)</h4>
              <div class="code">
                <button type="button" data-btn class="m">버튼 Primary</button>
                <button type="button" data-btn class="secondary m">버튼 Secondary</button>
                <button type="button" data-btn class="m" disabled>버튼(비활성화)</button>
                <button type="button" data-btn class="secondary m" disabled>버튼 Secondary(비활성화)</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">small(높이 36px)</h4>
              <div class="code">
                <button type="button" data-btn class="s">버튼 Primary</button>
                <button type="button" data-btn class="secondary s">버튼 Secondary</button>
                <button type="button" data-btn class="s" disabled>버튼(비활성화)</button>
                <button type="button" data-btn class="secondary s" disabled>버튼 Secondary(비활성화)</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">xsmall(높이 24px)</h4>
              <div class="code">
                <button type="button" data-btn class="xs">버튼 Primary</button>
                <button type="button" data-btn class="secondary xs">버튼 Secondary</button>
                <button type="button" data-btn class="xs" disabled>버튼(비활성화)</button>
                <button type="button" data-btn class="secondary xs" disabled>버튼 Secondary(비활성화)</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">아이콘 버튼</h4>
              <div class="code">
                <button type="reset" data-btn class="secondary s reset">
                  <img src="/static/img/icon/icon_search_reset.png" alt="">
                  검색 초기화
                </button>
                <button type="button" data-btn class="secondary docs">
                  <img src="/static/img/icon/icon_print.png" alt="">
                  인쇄
                </button>
                <button type="button" data-btn class="secondary docs">
                  <img src="/static/img/icon/icon_fax.png" alt="">
                  팩스
                </button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">텍스트 버튼</h4>
              <div class="code">
                <button type="button" data-text-btn>버튼</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="buttonGroup" class="guide_tit">Button Group</h3>
              <h4 class="guide_sub_tit">Button Tag</h4>
              <div class="code">
                <div data-btn-group>
                  <button type="button" class="on">버튼</button>
                  <button type="button">버튼</button>
                  <button type="button" disabled>버튼(선택불가)</button>
                  <button type="button">버튼</button>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Radio Tag</h4>
              <div class="code">
                <div data-btn-group>
                  <div class="btn">
                    <input type="radio" id="radioBtn1" name="btn" checked>
                    <label for="radioBtn1">버튼</label>
                  </div>
                  <div class="btn">
                    <input type="radio" id="radioBtn2" name="btn">
                    <label for="radioBtn2">버튼</label>
                  </div>
                  <div class="btn">
                    <input type="radio" id="radioBtn3" name="btn" disabled>
                    <label for="radioBtn3">버튼(선택불가)</label>
                  </div>
                  <div class="btn">
                    <input type="radio" id="radioBtn4" name="btn">
                    <label for="radioBtn4">버튼</label>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="radio" class="guide_tit">Radio Button</h3>
              <h4 class="guide_sub_tit">Radio Group</h4>
              <div class="code">
                <div data-select-group>
                  <ul class="list radio">
                    <li>
                      <input type="radio" name="radio" id="radio1" checked>
                      <label for="radio1">Value1</label>
                    </li>
                    <li>
                      <input type="radio" name="radio" id="radio2" disabled>
                      <label for="radio2">Value2</label>
                    </li>
                    <li>
                      <input type="radio" name="radio" id="radio3">
                      <label for="radio3">Value3</label>
                    </li>
                  </ul>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Radio Single</h4>
              <div class="code">
                <div data-select-group>
                  <ul class="list radio single">
                    <li>
                      <input type="radio" name="radio2" id="radio4" title="선택">
                      <label for="radio4">선택</label>
                    </li>
                  </ul>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="checkbox" class="guide_tit">Checkbox</h3>
              <h4 class="guide_sub_tit">Checkbox Group</h4>
              <div class="code">
                <div data-select-group>
                  <ul class="list checkbox">
                    <li>
                      <input type="checkbox" name="check" id="check1" checked="">
                      <label for="check1">Value1</label>
                    </li>
                    <li>
                      <input type="checkbox" name="check" id="check2" disabled="">
                      <label for="check2">Value2</label>
                    </li>
                    <li>
                      <input type="checkbox" name="check" id="check3">
                      <label for="check3">Value3</label>
                    </li>
                  </ul>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Checkbox Single</h4>
              <div class="code">
                <div data-select-group>
                  <ul class="list checkbox single">
                    <li>
                      <input type="checkbox" name="check2" id="check4">
                      <label for="check4">선택</label>
                    </li>
                  </ul>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Checkbox Single Small</h4>
              <div class="code">
                <div data-select-group>
                  <ul class="list checkbox single small">
                    <li>
                      <input type="checkbox" name="check3" id="check5">
                      <label for="check5">선택</label>
                    </li>
                  </ul>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="inputGroup" class="guide_tit">Input Group</h3>
              <p>Input Group은 내부의 Option, Placeholder 등 내부 컨텐츠 너비를 감안해, 퍼블쪽에서 직접 너비를 inline-style로 지정해서 작업 진행</p>
              <h4 class="guide_sub_tit">기본형</h4>
              <div class="code">
                <div data-input-group>
                  <span class="label">구분</span>
                  <input type="text">
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">비활성화</h4>
              <div class="code">
                <div data-input-group>
                  <span class="label">구분</span>
                  <input type="text" readonly>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">레이블 없음</h4>
              <div class="code">
                <div data-input-group>
                  <input type="text" placeholder="입력해주세요.">
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">단위</h4>
              <div class="code">
                <div data-input-group>
                  <input type="text">
                  <span class="unit">%</span>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">입력 초기화</h4>
              <div class="code">
                <div data-input-group class="clearable">
                  <span class="label">구분</span>
                  <input type="text">
                  <div class="input_ctr">
                    <button type="button" class="clear">입력 초기화</button>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">비밀번호(입력 초기화 기능 default)</h4>
              <div class="code">
                <div data-input-group class="password">
                  <span class="label">비밀번호</span>
                  <input type="password">
                  <div class="input_ctr">
                    <button type="button" class="clear">입력 초기화</button>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">비밀번호(입력값 보기)</h4>
              <div class="code">
                <div data-input-group class="password showable">
                  <span class="label">비밀번호</span>
                  <input type="password">
                  <div class="input_ctr">
                    <button type="button" class="clear">입력 초기화</button>
                  </div>
                  <div class="pw_ctr">
                    <button type="button" class="pw">비밀번호 노출 변경</button>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">검색창</h4>
              <div class="code">
                <div data-input-group class="search_box">
                  <span class="label">키워드 검색</span>
                  <input type="text">
                  <div class="search_btn">
                    <button type="button" class="search">검색</button>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Datepicker</h4>
              <div class="code">
                <div data-input-group class="calendar">
                  <span class="label">발주일</span>
                  <div class="date_wrap">
                    <input type="text" class="datepicker">
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Datepicker 기간</h4>
              <div class="code">
                <div data-input-group class="calendar">
                  <span class="label">발주일</span>
                  <div class="date_wrap">
                    <input type="text" class="datepicker">
                    ~
                    <input type="text" class="datepicker">
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Monthpicker</h4>
              <div class="code">
                <div data-input-group class="calendar">
                  <span class="label">월 검색</span>
                  <div class="date_wrap">
                    <input type="text" class="monthpicker" autocomplete="off">
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Textarea</h4>
              <div class="code">
                <div data-input-group>
                  <div class="textarea_wrap">
                    <textarea name="" id=""></textarea>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="formGroup" class="guide_tit">Form Group</h3>
              <h4 class="guide_sub_tit">4분할(기본)</h4>
              <div class="code">
                <div data-form-group>
                  <div class="box">
                    <div class="label">
                      <span class="essential">필수입력</span>
                      보험연령
                    </div>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                  <div class="box">
                    <div class="label">자기 부담금</div>
                    <div data-input-group class="dropdown full">
                      <div data-dropdown>
                        <button type="button" class="toggle">
                          <div class="txt">전체</div>
                        </button>
                        <ul class="option">
                          <li>
                            <button type="button" class="item" data-value="value1">value1</button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="label">임직원 특약</div>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                  <div class="box">
                    <button type="button" data-btn class="m">면허 유효성 체크</button>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                  <hr>
                  <div class="box">
                    <div class="label">대인</div>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                  <div class="box">
                    <div class="label">대물</div>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                  <div class="box x2">
                    <div class="label">2배수</div>
                    <div data-input-group class="full">
                      <input type="text">
                    </div>
                  </div>
                  <div class="box x3">
                    <div class="label">3배수</div>
                    <div data-input-group class="full">
                      <input type="text">
                    </div>
                  </div>
                  <div class="box">
                    <div class="label">대물</div>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">3분할</h4>
              <div class="code">
                <div data-form-group class="d3">
                  <div class="box">
                    <div class="label">
                      <span class="essential">필수입력</span>
                      보험연령
                    </div>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                  <div class="box">
                    <div class="label">자기 부담금</div>
                    <div data-input-group class="dropdown full">
                      <div data-dropdown>
                        <button type="button" class="toggle">
                          <div class="txt">전체</div>
                        </button>
                        <ul class="option">
                          <li>
                            <button type="button" class="item" data-value="value1">value1</button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="label">임직원 특약</div>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                  <div class="box">
                    <div class="label">대인</div>
                    <div data-input-group>
                      <input type="text">
                    </div>
                  </div>
                  <div class="box x2">
                    <div class="label">2배수</div>
                    <div data-input-group class="full">
                      <input type="text">
                    </div>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">너비 미지정</h4>
              <div class="code">
                <div data-form-group class="flexible">
                  <div class="box">
                    <div class="label">
                      차대차
                    </div>
                    <div data-select-group>
                      <ul class="list radio">
                        <li>
                          <input type="radio" name="formGroupValue" id="formGroupValue1">
                          <label for="formGroupValue1">Value1</label>
                        </li>
                        <li>
                          <input type="radio" name="formGroupValue" id="formGroupValue2">
                          <label for="formGroupValue2">Value2</label>
                        </li>
                        <li>
                          <input type="radio" name="formGroupValue" id="formGroupValue3">
                          <label for="formGroupValue3">Value3</label>
                        </li>
                        <li>
                          <input type="radio" name="formGroupValue" id="formGroupValue4">
                          <label for="formGroupValue4">Value4</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="dropdown" class="guide_tit">Dropdown</h3>
              <p>data-dropdown의 너비는 inline-style로 지정하여 사용</p>
              <h4 class="guide_sub_tit">기본형</h4>
              <div class="code">
                <div data-input-group class="dropdown">
                  <span class="label">구분</span>
                  <div data-dropdown style="width:240px;">
                    <button type="button" class="toggle">
                      <div class="txt">전체</div>
                    </button>
                    <ul class="option">
                      <li>
                        <button type="button" class="item" data-value="value1">long name value long name value long name
                          value long name
                          value long name value </button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="value2">value2</button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="value3">value3</button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="value4">value4</button>
                      </li>
                      <li>
                        <a href="https://naver.com" target="_blank" class="item">link</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">윗방향 메뉴</h4>
              <div class="code">
                <div data-input-group class="dropdown">
                  <span class="label">구분</span>
                  <div data-dropdown style="width:240px;">
                    <button type="button" class="toggle">
                      <div class="txt">전체</div>
                    </button>
                    <ul class="option up">
                      <li>
                        <button type="button" class="item" data-value="value1">value1</button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="value2">value2</button>
                      </li>
                      <li>
                        <button type="button" class="item" data-value="value3">value3</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">비활성화</h4>
              <div class="code">
                <div data-input-group class="dropdown">
                  <span class="label">구분</span>
                  <div data-dropdown class="disabled" style="width:240px;">
                    <button type="button" class="toggle">
                      <div class="txt">value1</div>
                    </button>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="validation" class="guide_tit">Validation</h3>
              <h4 class="guide_sub_tit">기본형</h4>
              <div class="code">
                <div data-validation>
                  <div data-input-group>
                    <input type="text">
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Invalid Input</h4>
              <div class="code">
                <div data-validation class="invalid">
                  <div data-input-group>
                    <input type="text">
                  </div>
                  <p class="msg">에러 메세지</p>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">Invalid Dropdown</h4>
              <div class="code">
                <div data-validation class="invalid">
                  <div data-input-group class="dropdown">
                    <div data-dropdown style="width:240px;">
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value2">value2</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value3">value3</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p class="msg">에러 메세지</p>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="searchForm" class="guide_tit">Search Form</h3>
              <p>너비가 100%가 될 경우, Input Group의 너비를 맞춰서 우측 검색 버튼과의 간격이 20px 이상 벌어지지 않도록 작업</p>
              <div class="code">
                <div data-search-group>
                  <div class="opt">
                    <div data-input-group>
                      <span class="label">구분</span>
                      <input type="text">
                    </div>
                    <div data-input-group>
                      <span class="label">구분</span>
                      <input type="text">
                    </div>
                    <div data-input-group class="search_box">
                      <span class="label">키워드 검색</span>
                      <input type="text">
                      <div class="search_btn">
                        <button type="button" class="search">검색</button>
                      </div>
                    </div>
                  </div>
                  <div class="btn">
                    <button type="button" data-btn class="m">검색</button>
                  </div>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="table" class="guide_tit">Table</h3>
              <p>컬럼의 너비는 col 태그에 inline-style로 정의</p>
              <h4 class="guide_sub_tit">조회</h4>
              <div class="code">
                <div data-table>
                  <table>
                    <colgroup>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">
                          <span class="essential">필수입력</span>
                          항목
                        </th>
                        <td>내용</td>
                        <th scope="row">항목</th>
                        <td>내용</td>
                        <th scope="row">항목</th>
                        <td>내용</td>
                      </tr>
                      <tr>
                        <th scope="row">항목</th>
                        <td colspan="5">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ad facilis rem saepe vel
                          reiciendis, quas adipisci, id asperiores harum veritatis vero minima molestias repellat. Sit
                          consequuntur vel odit natus.<br>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta enim, amet optio dignissimos
                          mollitia aliquam veniam voluptatum corrupti beatae dolorem eaque ipsa aut blanditiis nesciunt
                          unde sapiente quo ratione aliquid?
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h4 class="guide_sub_tit">입력</h4>
              <div class="code">
                <div data-table class="form">
                  <table>
                    <colgroup>
                      <col style="width:106px;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">입력</th>
                        <td>
                          <div data-input-group>
                            <input type="text">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">선택</th>
                        <td>
                          <div data-select-group>
                            <ul class="list radio">
                              <li>
                                <input type="radio" name="radioValue" id="radioValue1">
                                <label for="radioValue1">Value1</label>
                              </li>
                              <li>
                                <input type="radio" name="radioValue" id="radioValue2">
                                <label for="radioValue2">Value2</label>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">텍스트에리어</th>
                        <td>
                          <div data-input-group>
                            <div class="textarea_wrap">
                              <textarea name="" id=""></textarea>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">사진첨부</th>
                        <td>
                          <div data-photo-upload>
                            <div class="guide">
                              <label for="photoUpload" data-btn class="s secondary">파일찾기</label>
                              <input id="photoUpload" type="file" accept=".jpg, .jpeg, .pdf" multiple>
                              <p class="txt">JPG, JPEG, PDF 파일만 업로드 가능</p>
                            </div>
                            <ul class="preview">
                              <li>
                                <img src="/static/img/dummy/dummy_slide_01.png" alt="">
                                <button type="button" class="del">삭제</button>
                              </li>
                              <li>
                                <img src="/static/img/dummy/dummy_slide_02.png" alt="">
                                <button type="button" class="del">삭제</button>
                              </li>
                              <li>
                                <img src="/static/img/dummy/dummy_slide_03.png" alt="">
                                <button type="button" class="del">삭제</button>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="toast" class="guide_tit">Toast Message(기본 노출 시간 2초, tail.ejs에 포함)</h3>
              <div class="code">
                <!-- <div data-toast></div> -->
                <button type="button" data-btn onClick="showToast('메세지')">툴팁 노출</button>
                <button type="button" data-btn onClick="showToast('메세지', 5)">툴팁 5초 노출</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="loading" class="guide_tit">Loading(tail.ejs에 포함)</h3>
              <div class="code">
                <!-- <div data-loading></div> -->
                <button type="button" data-btn onClick="showLoading()">로딩 노출</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="dialog" class="guide_tit">Dialog Modal Popup</h3>
              <div class="code">
                <div data-modal id="modal1">
                  <div class="modal dialog">
                    <div class="modal_cont">
                      <img class="ico" src="/static/img/icon/icon_modal_alert.png" alt="">
                      <div class="txt">
                        최초 로그인 시<br>
                        비밀번호 변경 후 이용 가능합니다.
                      </div>
                    </div>
                    <div class="modal_footer">
                      <button type="button" data-btn class="m secondary">취소</button>
                      <button type="button" data-btn class="m" onClick="closeModal('modal1')">확인</button>
                    </div>
                  </div>
                </div>
                <button type="button" data-btn onClick="openModal('modal1')">팝업 보기</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="modal" class="guide_tit">Modal Popup</h3>
              <div class="code">
                <div data-modal id="modal2">
                  <div class="modal">
                    <div class="modal_header">
                      <div class="modal_tit">제목</div>
                      <button type="button" class="close" onClick="closeModal('modal2')">팝업 닫기</button>
                    </div>
                    <div class="modal_cont">
                      내용
                    </div>
                  </div>
                </div>
                <button type="button" data-btn onClick="openModal('modal2')">팝업 보기</button>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>

            <div class="guide_group">
              <h3 id="agDummy" class="guide_tit">AG Grid Dummy</h3>
              <div class="code">
                <div class="grid_wrap">
                  <div id="myGrid" class="grid_dummy">AG Grid</div>
                  <div data-pagination>
                    <div data-input-group class="dropdown">
                      <div data-dropdown>
                        <button type="button" class="toggle">
                          <div class="txt">20개</div>
                        </button>
                        <ul class="option up">
                          <li>
                            <button type="button" class="item" data-value="10">10개</button>
                          </li>
                          <li>
                            <button type="button" class="item" data-value="20">20개</button>
                          </li>
                          <li>
                            <button type="button" class="item" data-value="30">30개</button>
                          </li>
                          <li>
                            <button type="button" class="item" data-value="40">40개</button>
                          </li>
                          <li>
                            <button type="button" class="item" data-value="50">50개</button>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="pagination-div"></div>
                  </div>
                  <script>
                    $('#pagination-div').twbsPagination({
                      totalPages: 50,
                      visiblePages: 10
                    });
                  </script>
                  <!-- <div class="nodata">
                    <div class="txt">
                      <img src="/static/img/icon/icon_nodata.png" alt>
                      <p>검색 결과가 없습니다.</p>
                    </div>
                  </div> -->
                </div>
              </div>
              <pre><code class="language-markup"></code></pre>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script>
      $(function () {
        $(".code").each(function () {
          let codeContent = $(this).html();
          codeContent = escapeHtml(codeContent);
          $(this).next("pre").find(".language-markup").html(codeContent);
        });

        $('.palette').find('a').on('click', function (event) {
          event.preventDefault();

          const title = $(this).attr('title');
          const variableName = title.split(',')[0].trim();

          navigator.clipboard.writeText(variableName).then(function () {
            alert(variableName + ' 클립보드에 복사되었습니다.');
          }, function (err) {
            console.error('클립보드 복사실패 ', err);
          });
        });
      });

      function escapeHtml(text) {
        return text.replace(/</g, "&lt;").replace(/>/g, "&gt;");
      }
    </script>

  </body>

  <%- include('_inc/tail') %>