<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    하나캐피탈 자산관리시스템
  </title>
  <link rel="stylesheet" href="/static/css/ui.css">
  <script src="/static/js/libs/jquery-3.7.1.js"></script>
  <script src="/static/js/libs/jquery-ui.js"></script>
  <script src="/static/js/libs/jquery.ui.monthpicker.js"></script>
  <script src="/static/js/libs/jquery-viewer.js"></script>
  <script src="/static/js/libs/swiper-bundle.js"></script>
  <script src="/static/js/libs/ag-grid-enterprise.min.js"></script>
  <script src="/static/js/libs/jquery.twbsPagination.min.js"></script>
  <script src="/static/js/ui.js" type="module"></script>
  <script>
    const AST_LICENSE_KEY = "Using_this_{AG_Grid}_Enterprise_key_{AG-076176}_in_excess_of_the_licence_granted_is_not_permitted___Please_report_misuse_to_legal@ag-grid.com___For_help_with_changing_this_key_please_contact_info@ag-grid.com___{HANAFN}_is_granted_a_{Single_Application}_Developer_License_for_the_application_{HAS}_only_for_{1}_Front-End_JavaScript_developer___All_Front-End_JavaScript_developers_working_on_{HAS}_need_to_be_licensed___{HAS}_has_not_been_granted_a_Deployment_License_Add-on___This_key_works_with_{AG_Grid}_Enterprise_versions_released_before_{3_February_2026}____[v3]_[01]_MTc3MDA3NjgwMDAwMA==98ffa7f593154b6e59b28001ef0c75ac";
    agGrid.LicenseManager.setLicenseKey(AST_LICENSE_KEY);
  </script>
</head>

<body>
  <div class="content grid">
    <% const page_title={ title: "차량사고접수현황" , isClear: true }; %>
      <%- include('_inc/page_title.ejs', page_title) %>
        <div data-search-group>
          <div class="opt">
            <div data-input-group class="calendar" style="width:260px;">
              <span class="label">접수일자</span>
              <div class="date_wrap">
                <input type="text" class="datepicker" placeholder="2025.01.01">
                ~
                <input type="text" class="datepicker" placeholder="2025.01.01">
              </div>
            </div>
            <div data-input-group class="search_box" style="width: 180px;">
              <span class="label">차량번호</span>
              <input type="text" placeholder="전체">
              <div class="search_btn">
                <button type="button" class="search">검색</button>
              </div>
            </div>
            <div data-input-group style="width: 210px;">
              <span class="label">고객명</span>
              <input type="text">
            </div>
            <div data-input-group class="search_box" style="width: 240px;">
              <span class="label">정비업체</span>
              <input type="text" placeholder="전체">
              <div class="search_btn">
                <button type="button" class="search">검색</button>
              </div>
            </div>
            <div data-input-group style="width: 150px;">
              <span class="label">사고번호</span>
              <input type="text">
            </div>
            <div data-input-group class="dropdown" style="width:160px;">
              <span class="label">사고유형</span>
              <div data-dropdown>
                <button type="button" class="toggle">
                  <div class="txt">전체</div>
                </button>
                <ul class="option">
                  <li>
                    <button type="button" class="item" data-value="value1">value1</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="value2">value2</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="value3">value3</button>
                  </li>
                </ul>
              </div>
            </div>
            <div data-input-group class="dropdown" style="width:160px;">
              <span class="label">과실유형</span>
              <div data-dropdown>
                <button type="button" class="toggle">
                  <div class="txt">전체</div>
                </button>
                <ul class="option">
                  <li>
                    <button type="button" class="item" data-value="value1">value1</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="value2">value2</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="value3">value3</button>
                  </li>
                </ul>
              </div>
            </div>
            <div data-input-group class="dropdown" style="width:160px;">
              <span class="label">면책유형</span>
              <div data-dropdown>
                <button type="button" class="toggle">
                  <div class="txt">전체</div>
                </button>
                <ul class="option">
                  <li>
                    <button type="button" class="item" data-value="value1">value1</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="value2">value2</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="value3">value3</button>
                  </li>
                </ul>
              </div>
            </div>
            <div data-input-group class="dropdown" style="width:160px;">
              <span class="label">진행상태</span>
              <div data-dropdown>
                <button type="button" class="toggle">
                  <div class="txt">전체</div>
                </button>
                <ul class="option">
                  <li>
                    <button type="button" class="item" data-value="value1">value1</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="value2">value2</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="value3">value3</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="btn">
            <button type="button" data-btn>검색</button>
          </div>
        </div>
        <div data-action-header>
          <div class="total">
            총 <span class="num">999</span>건
          </div>
          <div class="btn">
            <button type="button" data-btn>엑셀 다운로드</button>
          </div>
        </div>
        <div class="grid_wrap">
          <div id="myGrid" class="grid_dummy">AG Grid</div>
          <div data-pagination>
            <div data-input-group class="dropdown">
              <div data-dropdown>
                <button type="button" class="toggle">
                  <div class="txt">20개</div>
                </button>
                <ul class="option up">
                  <li>
                    <button type="button" class="item" data-value="10">10개</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="20">20개</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="30">30개</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="40">40개</button>
                  </li>
                  <li>
                    <button type="button" class="item" data-value="50">50개</button>
                  </li>
                </ul>
              </div>
            </div>
            <div id="pagination-div"></div>
          </div>
          <script>
            $('#pagination-div').twbsPagination({
              totalPages: 50,
              visiblePages: 10
            });
          </script>
        </div>
  </div>
  <%- include('_inc/tail') %>
</body>

</html>