<%- include('_inc/head', {title:'페이지제목'}) %>

  <body>
    <div class="wrap popup_wrap">
      <div data-popup class="grid_popup">
        <div class="popup">
          <div class="popup_header">
            <h1 class="popup_tit">제목</h1>
          </div>
          <div class="popup_cont">
            <div data-search-group>
              <div class="opt">
                <div data-input-group>
                  <span class="label">구분</span>
                  <input type="text">
                </div>
              </div>
              <div class="btn">
                <button type="button" data-btn class="m">검색</button>
              </div>
            </div>
            <div class="grid_wrap">
              <div id="myGrid" class="grid_dummy" style="height:100%;">AG Grid</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('_inc/tail') %>