<%- include('_inc/head', {title:'페이지제목'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div class="content grid">
          <% const page_title={ title: "제목" , isClear: true }; %>
            <%- include('_inc/page_title.ejs', page_title) %>
              <div data-search-group>
                <div class="opt">
                  <div data-input-group class="calendar" style="width:380px;">
                    <span class="label">등록신청완료일</span>
                    <div class="date_wrap">
                      <input type="text" class="datepicker" placeholder="2025.01.01">
                      ~
                      <input type="text" class="datepicker" placeholder="2025.01.01">
                    </div>
                  </div>
                  <div data-input-group class="dropdown">
                    <span class="label">탁송사</span>
                    <div data-dropdown style="width:240px;">
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div data-input-group class="dropdown">
                    <span class="label">진행상태</span>
                    <div data-dropdown style="width:240px;">
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div data-input-group style="width: 500px;">
                    <span class="label">키워드 검색</span>
                    <input type="text" placeholder="제조사 계약번호, 차대번호, 관리지점, 영업사원, 전문직, 고객명">
                  </div>
                </div>
                <div class="btn">
                  <button type="button" data-btn class="m">검색</button>
                </div>
              </div>
              <div data-action-header>
                <div class="total">
                  총 <span class="num">999</span>건
                </div>
                <div class="btn">
                  <button type="button" data-btn class="s">진행상태 등록</button>
                  <button type="button" data-btn class="s">2차탁송배정</button>
                  <button type="button" data-btn class="s">SMS발송</button>
                  <button type="button" data-btn class="s">차량이미지 등록</button>
                  <button type="button" data-btn class="s">엑셀다운로드</button>
                </div>
              </div>
              <div class="grid_wrap">
                <div id="myGrid"></div>
                <div data-pagination>
                  <div data-input-group class="dropdown">
                    <div data-dropdown>
                      <button type="button" class="toggle">
                        <div class="txt">20개</div>
                      </button>
                      <ul class="option up">
                        <li>
                          <button type="button" class="item" data-value="10">10개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="20">20개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="30">30개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="40">40개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="50">50개</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div id="pagination-div"></div>
                </div>
                <script>
                  $('#pagination-div').twbsPagination({
                    totalPages: 50,
                    visiblePages: 10
                  });
                </script>
              </div>
        </div>
    </div>

    <script>
      const markupObject = {
        button: `
          <button type="button" data-btn class="xs">
            검색
          </button>
        `,
        textLink: `
          <a href="https://naver.com" target="_blank" data-text-btn>
            링크
          </a>
        `,
        copy: `
          text
          <button type="button" data-grid-btn>
            <img src="/static/img/icon/icon_text_copy.png" alt="">
            텍스트 복사
          </button>
        `,
      };

      const rowData = [
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        }, {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderDate: "2025-03-01",
        },
      ]

      const gridOptions = {
        tooltipShowDelay: 500,
        // defaultColDef: {
        //   editable: true,
        // },
        rowSelection: {
          mode: 'multiRow'
        },
        rowHeight: 40,
        rowData,
        columnDefs: [
          {
            field: 'dropdown',
            cellEditor: 'agSelectCellEditor',
            cellEditorParams: {
              values: ['value1', 'value2', 'value3', 'value4', 'value5'],
            },
            valueGetter: (params) => {
              return params.data.dropdown || 'value1';
            },
            width: 100,
            editable: true,
          },
          {
            headerName: "Tooltip",
            field: "orderNumber",
            width: 100,
            tooltipValueGetter: (params) => {
              return params.data.orderNumber;
            },
          },
          {
            headerName: "*Datepicker",
            field: "orderDate",
            width: 158,
            editable: true,
          },
          {
            field: "button", cellRenderer: params => {
              return markupObject.button;
            },
            width: 80,
          },
          {
            field: "link", cellRenderer: params => {
              return markupObject.textLink;
            },
            width: 80,
          },
          {
            field: "copy", cellRenderer: params => {
              return markupObject.copy;
            },
            width: 120,
          },
        ]
      };

      const myGridElement = document.querySelector('#myGrid');
      agGrid.createGrid(myGridElement, gridOptions);
    </script>
    <%- include('_inc/tail') %>