<%- include('_inc/head', {title:'페이지제목'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div data-modal id="modal1" class="on">
          <div class="modal w1200 h840">
            <div class="modal_header">
              <div class="modal_tit">
                제목
              </div>
              <button type="button" class="close" onClick="closeModal('modal1')">팝업 닫기</button>
            </div>
            <div class="modal_cont">
              <div class="cont_wrap full">
                <div class="cont_tit status">
                  대상 차량 목록
                  <div class="total">
                    총 <strong>6</strong>건
                  </div>
                </div>
                <div class="grid_wrap">
                  <div id="myGrid" class="grid_dummy">AG Grid</div>
                  <!-- <div data-noresult>
                    <div class="txt">
                      <img src="/static/img/icon/icon_nodata.png" alt>
                      <p>검색 결과가 없습니다.</p>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="btn_wrap">
                <button type="button" data-btn>
                  입고정보 등록
                  <!-- 입고정보 수정 완료 -->
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <%- include('_inc/tail') %>