<%- include('_inc/head', {title:'페이지제목'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div class="content">
          <% const page_title={ title: "제목" , isClear: true }; %>
            <%- include('_inc/page_title.ejs', page_title) %>
              <div data-tooltip>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <div class="tooltip_box">
                  1234
                </div>
              </div>
        </div>
    </div>
    <%- include('_inc/tail') %>