<%- include('_inc/head', {title:'페이지제목'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div class="content">
          <% const page_title={ title: "제목" , isClear: true }; %>
            <%- include('_inc/page_title.ejs', page_title) %>
              <div data-tooltip>
                기본(down)
                <div class="tooltip_box">
                  <div class="tooltip_txt">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora eum dicta ipsam quos similique
                    consequuntur molestiae autem dolores debitis! Facere labore aspernatur nemo inventore, impedit cum
                    sequi laboriosam sunt porro.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora eum
                    dicta ipsam quos similique
                    consequuntur molestiae autem dolores debitis! Facere labore aspernatur nemo inventore, impedit cum
                    sequi laboriosam sunt porro.
                  </div>
                </div>
              </div>
        </div>
    </div>
    <%- include('_inc/tail') %>