<%- include('_inc/head', {title:'탁송/인도 요청서'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div data-modal id="modal1" class="contract_form on">
          <div class="modal w1200">
            <div class="modal_header">
              <div class="modal_tit">
                탁송/인도 요청서
              </div>
              <button type="button" class="close" onClick="closeModal('modal1')">팝업 닫기</button>
            </div>
            <div class="modal_cont">
              <div class="cont_wrap">
                <div id="print" class="print_area">

                  <div data-print>
                    <div class="contract_header">
                      <img src="/static/img/image/image_hanacapital_logo.png" class="logo" alt="">
                      <div class="tit">탁송/인도 요청서</div>
                    </div>
                    <div class="contract_cont">
                      <div class="cont_tit">
                        담당자
                        <button type="button" data-btn class="secondary docs" onclick="printPage(1200);">
                          <img src="/static/img/icon/icon_print.png" alt="">
                          인쇄
                        </button>
                      </div>
                      <div data-table>
                        <table>
                          <colgroup>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <th scope="row">요청부서</th>
                              <td colspan="5">카렌탈지점</td>
                            </tr>
                            <tr>
                              <th scope="row">요청직원(당사)</th>
                              <td>-</td>
                              <th scope="row">직장전화</th>
                              <td>-</td>
                              <th scope="row">휴대전화</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">영업직원(AG)</th>
                              <td>-</td>
                              <th scope="row">직장전화</th>
                              <td>-</td>
                              <th scope="row">휴대전화</th>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="contract_cont">
                      <div class="cont_tit">출고내역</div>
                      <div data-table>
                        <table>
                          <colgroup>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <th scope="row">차종</th>
                              <td colspan="3">-</td>
                              <th scope="row">차대번호</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">기본제공용품</th>
                              <td>-</td>
                              <th scope="row">하이브리드 대상 여부</th>
                              <td>-</td>
                              <th scope="row">탁송방식</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">추가용품</th>
                              <td>-</td>
                              <th scope="row">썬팅종류</th>
                              <td>-</td>
                              <th scope="row">특장/개조비용</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">전면썬팅</th>
                              <td>-</td>
                              <th scope="row">썬팅농도</th>
                              <td>-</td>
                              <th scope="row">특장/개조내역</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">세부모델</th>
                              <td>-</td>
                              <th scope="row">색상</th>
                              <td>-</td>
                              <th scope="row">옵션사양</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">출고장(공장)</th>
                              <td>-</td>
                              <th scope="row">출고일</th>
                              <td>-</td>
                              <th scope="row">제조사 계약번호</th>
                              <td>-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="contract_cont">
                      <div class="cont_tit">보험내역</div>
                      <div data-table>
                        <table>
                          <colgroup>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <th scope="row">가입보험사</th>
                              <td>-</td>
                              <th scope="row">보험가입연력</th>
                              <td>-</td>
                              <th scope="row">임직원전용특약</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">자기신체사고</th>
                              <td colspan="5">-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="contract_cont">
                      <div class="cont_tit">등록비용송금</div>
                      <div data-table>
                        <table>
                          <colgroup>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <th scope="row">등록업체</th>
                              <td>-</td>
                              <th scope="row">합계금액</th>
                              <td colspan="3">-</td>
                            </tr>
                            <tr>
                              <th scope="row">탁송업체</th>
                              <td>-</td>
                              <th scope="row">합계금액</th>
                              <td colspan="3">-</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="contract_cont">
                      <div class="cont_tit">인도정보</div>
                      <div data-table>
                        <table>
                          <colgroup>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col style="width:70px;">
                            <col style="width:150px;">
                            <col style="width:160px;">
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <th scope="row">품의번호</th>
                              <td>-</td>
                              <th scope="row">이용자명</th>
                              <td colspan="2">-</td>
                              <th scope="row">요청번호판</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">번호 요청사항</th>
                              <td>-</td>
                              <th scope="row">인수담당자1</th>
                              <td colspan="2">-</td>
                              <th scope="row">담당자 연락처1</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">인수담당자2</th>
                              <td>-</td>
                              <th scope="row">담당자 연락처2</th>
                              <td colspan="2">-</td>
                              <th scope="row">번호판구분</th>
                              <td>-</td>
                            </tr>
                            <tr>
                              <th scope="row">인도일자</th>
                              <td>-</td>
                              <th scope="row">인도장소</th>
                              <td>12345</td>
                              <td colspan="3">충북 청주시 서원구 가장로 566</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="contract_cont">
                      <div class="cont_tit">요청사항</div>
                      <div class="request">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus expedita, iusto tempore
                        dolores eveniet deserunt velit sunt incidunt delectus non laboriosam totam maxime minus. Rerum
                        ratione culpa laborum exercitationem nisi.
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <%- include('_inc/tail') %>