<%- include('_inc/head', {title:'배송현황 차량 리스트'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div class="content grid">
          <% const page_title={ title: "번호판배송현황" , isClear: true }; %>
            <%- include('_inc/page_title.ejs', page_title) %>
              <div data-search-group>
                <div class="opt">
                  <div data-input-group class="calendar" style="width:290px;">
                    <span class="label">등록신청완료일</span>
                    <div class="date_wrap">
                      <input type="text" class="datepicker" placeholder="2025-01-01">
                      ~
                      <input type="text" class="datepicker" placeholder="2025-01-01">
                    </div>
                  </div>
                  <div data-input-group class="dropdown">
                    <span class="label">탁송사</span>
                    <div data-dropdown style="width:240px;">
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div data-input-group class="dropdown">
                    <span class="label">진행상태</span>
                    <div data-dropdown style="width:150px;">
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div data-input-group style="width: 350px;">
                    <span class="label">키워드 검색</span>
                    <input type="text" placeholder="관리지점, 영업사원 전문직, 고객명, 제조사 계약번호">
                  </div>
                </div>
                <div class="btn">
                  <button type="button" data-btn>검색</button>
                </div>
              </div>
              <div data-action-header>
                <div class="total">
                  총 <span class="num">999</span>건
                </div>
                <div class="btn">
                  <button type="button" data-btn>진행상태 등록</button>
                  <button type="button" data-btn>배송기사 배정</button>
                  <button type="button" data-btn>엑셀 다운로드</button>
                </div>
              </div>
              <div class="grid_wrap">
                <div id="myGrid" class="grid_dummy">AG Grid</div>
                <div data-pagination>
                  <div data-input-group class="dropdown">
                    <div data-dropdown>
                      <button type="button" class="toggle">
                        <div class="txt">20개</div>
                      </button>
                      <ul class="option up">
                        <li>
                          <button type="button" class="item" data-value="10">10개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="20">20개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="30">30개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="40">40개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="50">50개</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div id="pagination-div"></div>
                </div>
                <script>
                  $('#pagination-div').twbsPagination({
                    totalPages: 50,
                    visiblePages: 10
                  });
                </script>
              </div>
        </div>
    </div>
    <%- include('_inc/tail') %>