<%- include('_inc/head', {title:'탁송/인도 요청서'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div data-modal id="modal1" class="contract_form on">
          <div class="modal w1200">
            <div class="modal_header">
              <div class="modal_tit">
                탁송/인도 요청서
              </div>
              <button type="button" class="close" onClick="closeModal('modal1')">팝업 닫기</button>
            </div>
            <div class="modal_cont">
              <div class="cont_wrap">
                <div id="print" class="print_area">

                  <div data-print>
                    <div class="contract_header">
                      <img src="/static/img/image/image_hanacapital_logo.png" class="logo" alt="">
                      <div class="tit">탁송/인도 요청서</div>
                    </div>
                    <div class="contract_cont">
                      <div class="cont_tit">
                        담당자
                        <button type="button" data-btn class="secondary docs" onclick="printPage(1200);">
                          <img src="/static/img/icon/icon_print.png" alt="">
                          인쇄
                        </button>
                      </div>
                      <div data-table>
                        <table>
                          <colgroup>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                            <col style="width:160px;">
                            <col>
                          </colgroup>
                          <tbody>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <%- include('_inc/tail') %>