<%- include('_inc/head', {title:'SMS발송'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div data-modal id="modal1" class="on">
          <div class="modal w600 mh560">
            <div class="modal_header">
              <div class="modal_tit">
                SMS발송
              </div>
              <button type="button" class="close" onClick="closeModal('modal1')">팝업 닫기</button>
            </div>
            <div class="modal_cont">
              <div data-action-header>
                <div data-tab="tabGroup1" class="bar">
                  <button type="button" data-tab-target="tabPage1">탁송기사</button>
                  <button type="button" data-tab-target="tabPage2">고객</button>
                </div>
              </div>
              <div data-tab-pages="tabGroup1" class="flex_full">
                <div class="tab_page flex_full" id="tabPage1">
                  <div class="cont_wrap">
                    <div class="cont_tit">SMS를 발송할 2차탁송배정 기사를 선택하세요.</div>
                    <div data-table class="form">
                      <table>
                        <colgroup>
                          <col style="width:152px;">
                          <col>
                        </colgroup>
                        <tbody>
                          <tr>
                            <th scope="row">기사선택</th>
                            <td>
                              <div data-input-group class="dropdown">
                                <div data-dropdown style="width:190px;">
                                  <button type="button" class="toggle">
                                    <div class="txt">선택</div>
                                  </button>
                                  <ul class="option">
                                    <li>
                                      <button type="button" class="item" data-value="value4">value4</button>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">휴대폰번호 선택</th>
                            <td>
                              <div data-select-group>
                                <ul class="list radio block">
                                  <li>
                                    <input type="radio" name="radio3" id="radio5" checked>
                                    <label for="radio5">Value4</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="radio3" id="radio6">
                                    <label for="radio6">Value5</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="radio3" id="radio7">
                                    <label for="radio7">Value6</label>
                                  </li>
                                </ul>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="cont_wrap">
                    <ul class="middot type1" data-list="">
                      <li>휴대폰번호가 정확한지 확인하세요.</li>
                      <li>휴대폰번호 수정이 필요한 경우, 수정 완료 후 SMS를 발송하세요.</li>
                      <li>휴대폰번호 수정 후 SMS를 발송한 경우, 탁송차량현황 목록의 탁송기사 휴대폰번호도 수정 적용됩니다.</li>
                      <li>오늘 날짜에 ‘2차탁송배정' 완료된 탁송기사의 목록만 제공됩니다.</li>
                    </ul>
                  </div>
                  <div class="btn_wrap">
                    <button type="button" data-btn class="mx">
                      URL발송
                    </button>
                    <button type="button" data-btn class="mx">
                      ID/PW발송
                    </button>
                  </div>
                </div>
                <div class="tab_page flex_full" id="tabPage2">
                  <div class="cont_wrap">
                    <div class="cont_tit">SMS를 발송할 고객을 선택하세요.</div>
                    <div data-table class="form">
                      <table>
                        <colgroup>
                          <col style="width:152px;">
                          <col style="width:103px;">
                          <col>
                        </colgroup>
                        <tbody>
                          <tr>
                            <th scope="row">고객선택</th>
                            <td colspan="2">
                              <div data-input-group class="dropdown">
                                <div data-dropdown style="width:190px;">
                                  <button type="button" class="toggle">
                                    <div class="txt">선택</div>
                                  </button>
                                  <ul class="option">
                                    <li>
                                      <button type="button" class="item" data-value="value4">value4</button>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">휴대폰번호 및 차종 선택</th>
                            <td>010-9999-9999</td>
                            <td>
                              <div data-tooltip>
                                <div class="ellipsis_l2">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                  Quibusdam ratione nobis
                                  unde. Earum cum repudiandae corporis at aliquid molestias, explicabo sed voluptatibus
                                  vero eveniet ullam dicta culpa maxime qui beatae?</div>
                                <div class="tooltip_box">
                                  <div class="tooltip_txt">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sed praesentium eos
                                    asperiores
                                    obcaecati consectetur quidem reprehenderit ea facilis ex velit ratione corrupti,
                                    similique
                                    earum
                                    fuga tempora natus cupiditate dolorem.
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="cont_wrap">
                    <ul class="middot type1" data-list>
                      <li>오늘 날짜에 ‘고객인도' 완료된 고객 목록만 제공됩니다.</li>
                    </ul>
                  </div>
                  <div class="btn_wrap">
                    <button type="button" data-btn class="mx">
                      고객인수확인 SMS 발송
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <%- include('_inc/tail') %>