<%- include('_inc/head', {title:'진행상태 상세정보'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div data-modal id="modal1" class="on">
          <div class="modal w1200">
            <div class="modal_header">
              <div class="modal_tit">
                진행상태 상세정보
              </div>
              <button type="button" class="close" onClick="closeModal('modal1')">팝업 닫기</button>
            </div>
            <div class="modal_cont">
              <div class="cont_wrap">
                <div class="cont_tit">기본정보</div>
                <div data-table>
                  <table>
                    <colgroup>
                      <col style="width:124px;">
                      <col>
                      <col style="width:124px;">
                      <col>
                      <col style="width:124px;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">등록신청완료일</th>
                        <td>yyyy-mm-dd</td>
                        <th scope="row">고객명</th>
                        <td>김하나</td>
                        <th scope="row">탁송사</th>
                        <td>A탁송사</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="cont_wrap">
                <div class="cont_tit">차량정보</div>
                <div data-table>
                  <table>
                    <colgroup>
                      <col style="width:124px;">
                      <col>
                      <col style="width:124px;">
                      <col>
                      <col style="width:124px;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">차종</th>
                        <td colspan="5">신형 쏘렌토...</td>
                      </tr>
                      <tr>
                        <th scope="row">옵션</th>
                        <td colspan="5">신형 쏘렌토...</td>
                      </tr>
                      <tr>
                        <th scope="row">외장색상</th>
                        <td>유기 브론즈 메탈릭 그레이</td>
                        <th scope="row">내장색상</th>
                        <td colspan="3">유기 브론즈 메탈릭 그레이</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="cont_wrap">
                <div class="cont_tit">진행상태</div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <%- include('_inc/tail') %>