<%- include('_inc/head', {title:'사고접수 리스트'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div class="content grid">
          <% const page_title={ title: "차량사고접수현황" , isClear: true }; %>
            <%- include('_inc/page_title.ejs', page_title) %>
              <div data-search-group>
                <div class="opt">
                  <div data-input-group class="calendar" style="width:340px;">
                    <span class="label">접수일자</span>
                    <div class="date_wrap">
                      <input type="text" class="datepicker" placeholder="2025.01.01">
                      ~
                      <input type="text" class="datepicker" placeholder="2025.01.01">
                    </div>
                  </div>
                  <div data-input-group class="search_box" style="width: 350px;">
                    <span class="label">차량번호</span>
                    <input type="text" placeholder="전체">
                    <div class="search_btn">
                      <button type="button" class="search">검색</button>
                    </div>
                  </div>
                  <div data-input-group style="width: 260px;">
                    <span class="label">고객명</span>
                    <input type="text">
                  </div>
                  <div data-input-group class="search_box" style="width: 350px;">
                    <span class="label">장비업체</span>
                    <input type="text" placeholder="전체">
                    <div class="search_btn">
                      <button type="button" class="search">검색</button>
                    </div>
                  </div>
                  <div data-input-group style="width: 372px;">
                    <span class="label">사고번호</span>
                    <input type="text">
                  </div>
                  <div data-input-group class="dropdown" style="width:340px;">
                    <span class="label">사고유형</span>
                    <div data-dropdown>
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value2">value2</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value3">value3</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div data-input-group class="dropdown" style="width:350px;">
                    <span class="label">과실유형</span>
                    <div data-dropdown>
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value2">value2</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value3">value3</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div data-input-group class="dropdown" style="width:260px;">
                    <span class="label">면책유형</span>
                    <div data-dropdown>
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value2">value2</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value3">value3</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div data-input-group class="dropdown" style="width:350px;">
                    <span class="label">진행상태</span>
                    <div data-dropdown>
                      <button type="button" class="toggle">
                        <div class="txt">전체</div>
                      </button>
                      <ul class="option">
                        <li>
                          <button type="button" class="item" data-value="value1">value1</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value2">value2</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="value3">value3</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="btn">
                  <button type="button" data-btn class="m">검색</button>
                </div>
              </div>
              <div data-action-header>
                <div class="total">
                  총 <span class="num">999</span>건
                </div>
                <button type="button" data-btn class="m">엑셀다운로드</button>
              </div>
              <div class="grid_wrap">
                <div id="myGrid"></div>
                <div data-pagination>
                  <div data-input-group class="dropdown">
                    <div data-dropdown>
                      <button type="button" class="toggle">
                        <div class="txt">20개</div>
                      </button>
                      <ul class="option up">
                        <li>
                          <button type="button" class="item" data-value="10">10개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="20">20개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="30">30개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="40">40개</button>
                        </li>
                        <li>
                          <button type="button" class="item" data-value="50">50개</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div id="pagination-div"></div>
                </div>
                <script>
                  $('#pagination-div').twbsPagination({
                    totalPages: 50,
                    visiblePages: 10
                  });
                </script>
              </div>
        </div>
    </div>

    <script>
      const markupObject = {
        button: `
          <button type="button" data-btn class="xs">
            검색
          </button>
        `,
        textLink: `
          <a href="https://naver.com" target="_blank" data-text-btn>
            링크
          </a>
        `,
      };

      const rowData = [
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        }, {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
        {
          orderNumber: "c1243249540359-333",
          orderPoint: "카렌탈사업팀",
          orderStatus: "출고확정",
          customerName: "홍길동",
          manufactCompany: "삼성전자",
          manufactNo: "SAMSUNG-123456",
          releaseType: "정상출고",
          orderDate: "2025-03-01",
        },
      ]

      const gridOptions = {
        defaultColDef: {
          editable: true,
        },
        rowSelection: {
          mode: 'multiRow'
        },
        rowHeight: 40,
        rowData,
        columnDefs: [
          {
            field: 'test',
            cellEditor: 'agSelectCellEditor',
            cellEditorParams: {
              values: ['value1', 'value2', 'value3', 'value4', 'value5'],
            },
            valueGetter: (params) => {
              return params.data.test || 'value1';
            },
            width: 100,
          },
          {
            headerName: "발주번호",
            field: "orderNumber",
            width: 210,
          },
          {
            headerName: "발주지점",
            field: "orderPoint",
            width: 158,
          },
          {
            headerName: "발주상태",
            field: "orderStatus",
            width: 116,
          },
          {
            headerName: "고객명",
            field: "customerName",
            width: 116,
          },
          {
            headerName: "제조사",
            field: "manufactCompany",
            width: 116,
          },
          {
            headerName: "제조사 계약번호",
            field: "manufactNo",
            width: 150,
          },
          {
            headerName: "출고구분",
            field: "releaseType",
            width: 116,
          },
          {
            headerName: "발주일",
            field: "orderDate",
            width: 158,
          },
          {
            field: "button", cellRenderer: params => {
              return markupObject.button;
            },
            width: 80,
          },
          {
            field: "link", cellRenderer: params => {
              return markupObject.textLink;
            },
            width: 80,
          },
        ]
      };

      const myGridElement = document.querySelector('#myGrid');
      agGrid.createGrid(myGridElement, gridOptions);
    </script>
  </body>

  <%- include('_inc/tail') %>