<%- include('_inc/head', {title:'사고보고서'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div data-modal id="modal1" class="contract_form on">
          <div class="modal w1000 h840">
            <div class="modal_header">
              <div class="modal_tit">
                사고보고서
              </div>
              <button type="button" class="close" onClick="closeModal('modal1')">팝업 닫기</button>
            </div>
            <div class="modal_cont">
              <div class="cont_wrap">
                <div class="contract_ctr">
                  <img src="/static/img/image/image_hanacapital_logo.png" class="logo" alt="">
                  <div class="btn">
                    <button type="button" data-btn class="secondary docs" onclick="printPage();">
                      <img src="/static/img/icon/icon_print.png" alt="">
                      인쇄
                    </button>
                    <button type="button" data-btn class="secondary docs">
                      <img src="/static/img/icon/icon_fax.png" alt="">
                      팩스
                    </button>
                  </div>
                </div>
                <div id="print" class="print_area">

                  <div data-print class="watermark">
                    <div class="contract_header">
                      <img src="/static/img/image/image_hanacapital_logo.png" class="logo" alt="">
                      <div class="tit">사고보고서</div>
                    </div>
                    <div class="contract_cont">
                      <div class="cont_tit">하나캐피탈 카렌탈사업팀</div>
                      <div data-table>
                        <table class="group">
                          <colgroup>
                            <col style="width:70px;">
                            <col style="width:130px;">
                            <col>
                            <col style="width:130px;">
                            <col>
                            <col style="width:130px;">
                            <col>
                          </colgroup>
                          <tbody>
                            <tr>
                              <th scope="row" colspan="2">접수일</th>
                              <td colspan="3">2024-03-25</td>
                              <th scope="row">접수자</th>
                              <td>김민수</td>
                            </tr>
                            <tr>
                              <th scope="rowgroup" rowspan="5" class="major">계약/<br>운전자<br>정보</th>
                              <th scope="row">고객명</th>
                              <td>홍길동</td>
                              <th scope="row">관리지점</th>
                              <td>역삼</td>
                              <th scope="row">정비상품</th>
                              <td>차량 정비 패키지</td>
                            </tr>
                            <tr>
                              <th scope="row">등록일자</th>
                              <td>2023-05-10</td>
                              <th scope="row">실행일자</th>
                              <td>2023-05-15</td>
                              <th scope="row">만기일자</th>
                              <td>2024-05-15</td>
                            </tr>
                            <tr>
                              <th scope="row">차량번호</th>
                              <td>123가1234</td>
                              <th scope="row">차명</th>
                              <td>카니발</td>
                              <th scope="row">보혐연령</th>
                              <td>40세</td>
                            </tr>
                            <tr>
                              <th scope="row">운전자</th>
                              <td>홍길동</td>
                              <th scope="row">생년월일</th>
                              <td>1984-07-22</td>
                              <th scope="row">운전자연락처</th>
                              <td>010-1234-5678</td>
                            </tr>
                            <tr>
                              <th scope="row">면허종류</th>
                              <td>1종 보통</td>
                              <th scope="row">면허번호</th>
                              <td colspan="3">서울-1234567</td>
                            </tr>
                            <tr>
                              <th scope="rowgroup" colspan="2">사고일시</th>
                              <td colspan="3">2024-03-20 14:30</td>
                              <th scope="row">사고번호</th>
                              <td>ACC-20240320-001</td>
                            </tr>
                            <tr>
                              <th scope="row" colspan="2">사고장소</th>
                              <td colspan="5">서울 강남구 테헤란로 123</td>
                            </tr>
                            <tr>
                              <th scope="row" rowspan="7" class="major">사고<br>정보</th>
                              <th scope="row">보험사</th>
                              <td>ABC 손해보험</td>
                              <th scope="row">보험접수번호</th>
                              <td>INS-20240320-789</td>
                              <th scope="row">보험접수구분</th>
                              <td>자차</td>
                            </tr>
                            <tr>
                              <th scope="row">면부책정도</th>
                              <td>70%</td>
                              <th scope="row">중대사고</th>
                              <td>아니오</td>
                              <th scope="row">과실</th>
                              <td>30%</td>
                            </tr>
                            <tr>
                              <th scope="row">경찰신고여부</th>
                              <td>예</td>
                              <th scope="row">관할경찰서</th>
                              <td>강남경찰서</td>
                              <th scope="row">담당자연락처</th>
                              <td>02-123-4567</td>
                            </tr>
                            <tr>
                              <th scope="row">상대 보험사</th>
                              <td>XYZ 손해보험</td>
                              <th scope="row">상대 보험접수번호</th>
                              <td>INS-20240320-456</td>
                              <th scope="row">상대 보험접수구분</th>
                              <td>대인</td>
                            </tr>
                            <tr>
                              <th scope="row">상대 차량번호</th>
                              <td>456나7890</td>
                              <th scope="row">상대 차명</th>
                              <td>소나타</td>
                              <th scope="row">상대 성명</th>
                              <td>이영수</td>
                            </tr>
                            <tr>
                              <th scope="row" style="height:190px;">콜센터 사고접수</th>
                              <td colspan="5">접수 완료 (접수번호: CALL-20240320-001)</td>
                            </tr>
                            <tr>
                              <th scope="row" style="height:100px;">추가 확인사항</th>
                              <td colspan="5">CCTV 확인 중, 보험사 조율 진행</td>
                            </tr>
                            <tr>
                              <th scope="rowgroup" rowspan="2" class="major">수리<br>결과</th>
                              <th scope="row">사고정비업체</th>
                              <td>강남오토정비센터</td>
                              <th scope="row">입고일</th>
                              <td>2024-03-21</td>
                              <th scope="row">출고일</th>
                              <td>2024-03-24</td>
                            </tr>
                            <tr>
                              <th scope="row">최종지급금액</th>
                              <td colspan="5">3,500,000원</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <%- include('_inc/tail') %>