<%- include('_inc/head', {title:'사고접수 상세내용'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div class="content detail">
          <% const page_title={ title: "사고접수 상세내용" }; %>
            <%- include('_inc/page_title.ejs', page_title) %>
              <div class="cont_wrap">
                <div data-table>
                  <table>
                    <colgroup>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">사고번호</th>
                        <td>
                          2100053006
                        </td>
                        <th scope="row">접수일시</th>
                        <td>
                          2025-02-20 14:12
                        </td>
                        <th scope="row">사고일시</th>
                        <td>
                          2025-02-20 13:12
                        </td>
                        <th scope="row">차량번호</th>
                        <td>
                          <!-- 233하3657 -->
                          <span data-color="accident">233하3657</span>
                        </td>
                        <th scope="row">진행상태</th>
                        <td>
                          사고접수
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">콜센터 접수내용</th>
                        <td colspan="9">
                          내리막길 주행중 공기압 경고등 떠서 확인하니 타이어파스로 확인<br>
                          자차파손 : 운)앞타이어
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div data-action-header>
                <div data-tab class="bar">
                  <button type="button">사고 접수 내용</button>
                  <button type="button" class="on">계약 및 보험가입정보</button>
                </div>
                <div class="btn">
                  <button type="button" data-btn class="s">계약확인서</button>
                  <button type="button" data-btn class="s">사고보고서</button>
                  <button type="button" data-btn class="s">상담이력</button>
                  <button type="button" data-btn class="s">사고이력</button>
                </div>
              </div>
              <div class="cont_wrap">
                <div class="cont_tit">계약 정보</div>
                <fieldset disabled>
                  <div data-table>
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div data-form-group>
                              <div class="box">
                                <div class="label">
                                  고객명
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  고객구분
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  채권번호
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  관리지점
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  관리담당자
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  차종
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  차대번호
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  정비상품
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  등록일자
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  실행일자
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  만기일자
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </fieldset>
              </div>
              <div class="cont_wrap">
                <div class="cont_tit">옵션 및 용품 정보</div>
                <fieldset disabled>
                  <div data-table>
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div data-form-group>
                              <div class="box">
                                <div class="label">
                                  전면썬팅/농도
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="box">
                                <div class="label">
                                  측후면썬팅/농도
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="box">
                                <div class="label">
                                  블랙박스
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>
                              <div class="box">
                                <div class="label">
                                  내비게이션
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div data-form-group class="d3">
                              <div class="box full">
                                <div class="label">
                                  용품정보
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </fieldset>
              </div>
              <div class="cont_wrap">
                <div class="cont_tit">보험가입정보</div>
                <fieldset disabled>
                  <div data-table>
                    <table>
                      <tbody>
                        <tr>
                          <td>
                            <div data-form-group>
                              <div class="box">
                                <div class="label">
                                  보험사
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  보혐연령
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  자기 부담금
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  임직원 특약
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  대인
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box">
                                <div class="label">
                                  대물
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>

                              <div class="box x2">
                                <div class="label">
                                  자기신체사고
                                </div>
                                <div data-input-group>
                                  <input type="text">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </fieldset>
              </div>
        </div>
    </div>
    <%- include('_inc/tail') %>