<%- include('_inc/head', {title:'사고접수 상세내용'}) %>

  <body>
    <div class="wrap">
      <%- include('_inc/header') %>
        <div class="content detail">
          <% const page_title={ title: "사고접수 상세내용" }; %>
            <%- include('_inc/page_title.ejs', page_title) %>
              <div class="cont_wrap">
                <div data-table>
                  <table>
                    <colgroup>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                      <col style="width:160px;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">사고번호</th>
                        <td>
                          2100053006
                        </td>
                        <th scope="row">접수일시</th>
                        <td>
                          2025-02-20 14:12
                        </td>
                        <th scope="row">사고일시</th>
                        <td>
                          2025-02-20 13:12
                        </td>
                        <th scope="row">차량번호</th>
                        <td>
                          233하3657
                        </td>
                        <th scope="row">진행상태</th>
                        <td>
                          사고접수
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">콜센터 접수내용</th>
                        <td colspan="9">
                          내리막길 주행중 공기압 경고등 떠서 확인하니 타이어파스로 확인<br>
                          자차파손 : 운)앞타이어
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div data-action-header>
                <div data-tab class="bar">
                  <button type="button" class="on">사고 접수 내용</button>
                  <button type="button">계약 및 보험가입정보</button>
                </div>
                <div data-btn-group>
                  <button type="button" class="on">계약확인서</button>
                  <button type="button">사고보고서</button>
                  <button type="button">상담이력</button>
                  <button type="button">사고이력</button>
                </div>
              </div>
              <div class="cont_wrap">
                <div class="cont_tit">사고 접수 인적 사항</div>
                <div data-table class="form">
                  <table>
                    <colgroup>
                      <col style="width:106px;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">운전자</th>
                        <td>
                          <div data-form-group>
                            <div class="box">
                              <div class="label">
                                운전자명
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                운전자 관계
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                생년월일
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <button type="button" data-btn class="m">면허 유효성 체크</button>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                운전자 연락처 1
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                운전자 연락처 2
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                면허종류
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label" style="width:140px;">
                                면허번호
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">사고 접수자</th>
                        <td>
                          <div data-form-group>
                            <div class="box">
                              <div class="label">
                                접수자명
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                접수자 관계
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                접수자 연락처 1
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label" style="width:140px;">
                                접수자 연락처 2
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" rowspan="2">지정운전자</th>
                        <td>
                          <div data-form-group>
                            <div class="box">
                              <div class="label">
                                운전자명
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                운전자 관계
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                적용시작일자
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                적용종료일자
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                면허번호
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div data-form-group>
                            <div class="box">
                              <div class="label">
                                운전자명
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                운전자 관계
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                적용시작일자
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                적용종료일자
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                면허번호
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="cont_wrap">
                <div class="cont_tit">사고 접수 조사 내용</div>
                <div data-table class="form">
                  <table>
                    <colgroup>
                      <col style="width:106px;">
                      <col>
                      <col style="width:106px;">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">사고장소</th>
                        <td colspan="3">
                          <div data-form-group>
                            <div class="box">
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                상담원
                              </div>
                              <div data-input-group>
                                <input type="text" readonly>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" rowspan="2">사고유형</th>
                        <td colspan="3">
                          <div data-form-group class="flexible">
                            <div class="box">
                              <div class="label">
                                차대차
                              </div>
                              <div data-select-group>
                                <ul class="list radio">
                                  <li>
                                    <input type="radio" name="accidentType" id="accidentType1">
                                    <label for="accidentType1">후미추돌(가)</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accidentType" id="accidentType2">
                                    <label for="accidentType2">후미추돌(피)</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accidentType" id="accidentType3">
                                    <label for="accidentType3">차선변경(가)</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accidentType" id="accidentType4">
                                    <label for="accidentType4">차선변경(피)</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accidentType" id="accidentType5">
                                    <label for="accidentType5">주정차사고(가)</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accidentType" id="accidentType6">
                                    <label for="accidentType6">주정차사고(피)</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accidentType" id="accidentType7">
                                    <label for="accidentType7">노외진입(가)</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accidentType" id="accidentType8">
                                    <label for="accidentType8">노외진입(피)</label>
                                  </li>
                                </ul>

                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <div data-form-group class="flexible">
                            <div class="box">
                              <div class="label">
                                차량단독
                              </div>
                              <div data-select-group>
                                <ul class="list radio">
                                  <li>
                                    <input type="radio" name="accident2Type" id="accident2Type1">
                                    <label for="accident2Type1">가해자불명</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accident2Type" id="accident2Type2">
                                    <label for="accident2Type2">충돌</label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="box">
                              <div class="label">
                                차량단독
                              </div>
                              <div data-select-group>
                                <ul class="list radio">
                                  <li>
                                    <input type="radio" name="accident2Type" id="accident2Type1">
                                    <label for="accident2Type1">가해자불명</label>
                                  </li>
                                  <li>
                                    <input type="radio" name="accident2Type" id="accident2Type2">
                                    <label for="accident2Type2">충돌</label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
  </body>

  <%- include('_inc/tail') %>