<%- include('_inc/head', {title:'차량정보검색'}) %>

  <body>
    <div class="wrap popup_wrap">
      <div data-popup class="grid_popup">
        <div class="popup">
          <div class="popup_header">
            <h1 class="popup_tit">차량정보검색</h1>
          </div>
          <div class="popup_cont">
            <div data-search-group>
              <div class="opt">
                <div data-input-group style="width:400px;">
                  <span class="label">차량정보</span>
                  <input type="text" placeholder="차량번호, 차대번호 입력">
                </div>
              </div>
              <div class="btn">
                <button type="button" data-btn class="m" onclick="openModal('modal1')">검색</button>
              </div>
            </div>
            <div class="grid_wrap">
              <div id="myGrid"></div>
              <div id="pagination-div"></div>
              <!-- <div class="nodata">
                <div class="txt">
                  <img src="/static/img/icon/icon_nodata.png" alt>
                  <p>검색 결과가 없습니다.</p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <div data-modal id="modal1">
        <div class="modal dialog">
          <div class="modal_cont">
            <img class="ico" src="/static/img/icon/icon_modal_alert.png" alt="">
            <div class="txt">
              차량정보를 입력하세요.
            </div>
          </div>
          <div class="modal_footer">
            <button type="button" data-btn class="m" onclick="closeModal('modal1')">확인</button>
          </div>
        </div>
      </div>

    </div>

    <script>
      const markupObject = {
        button: `
          <button type="button" data-btn class="xs">
            선택
          </button>
        `,
      };

      const rowData = [
        { carNumber: "12가1234", carIdNumber: "A123456789", carType: "준중형" },
        { carNumber: "34나5678", carIdNumber: "B987654321", carType: "소형" },
        { carNumber: "56다9101", carIdNumber: "C123123123", carType: "대형" },
        { carNumber: "78라2345", carIdNumber: "D456456456", carType: "SUV" },
        { carNumber: "90마6789", carIdNumber: "E789789789", carType: "세단" },
        { carNumber: "12바3456", carIdNumber: "F321321321", carType: "준중형" },
        { carNumber: "34사7890", carIdNumber: "G654654654", carType: "소형" },
        { carNumber: "56아1234", carIdNumber: "H987987987", carType: "대형" },
        { carNumber: "78자5678", carIdNumber: "I123456789", carType: "SUV" },
        { carNumber: "90차9101", carIdNumber: "J987654321", carType: "세단" },
      ];

      const gridOptions = {
        rowHeight: 40,
        rowData,
        columnDefs: [
          {
            headerName: "차량번호",
            field: "carNumber",
          },
          {
            headerName: "차대번호",
            field: "carIdNumber",
          },
          {
            headerName: "차종",
            field: "carType",
          },
          {
            headerName: "선택",
            field: "select", cellRenderer: params => {
              return markupObject.button;
            },
          },
        ]
      };

      const myGridElement = document.querySelector('#myGrid');
      agGrid.createGrid(myGridElement, gridOptions);
    </script>
    <%- include('_inc/tail') %>